<div class="boton_der">
	<p>
	  <button type="button" class="btn btn-info"><%= link_to "Regresar a Spot", group_spot_path(@group,@spot) %></button>
	</p>
	<p>
		<button type="button" class="btn btn-default"><%= link_to "Nuevo Pago", new_group_spot_payment_path(@group, @spot) %></button>
	</p>
</div>
<div class="row">
  <div class="span6 offset3">
	<%= form_for([@group, @spot]) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<p>
	    <%= f.text_field :child_name, :value => @spot.child.name, :readonly => true %>
	</p>
	  <p>
		<%= f.text_field :child_id, :value => @spot.child.id, :style => "display:none;" %>
	  </p>
	  <p>
	    <%= f.label "Cuidador" %>
		<%= select("spot", "tutor_id", @spot.child.family_relations.first.family.family_members.collect {|p| [ "#{p.name} #{p.first_last_name} #{p.second_last_name} ", p.id ] }, { include_blank: 'Selecciona'}) %> <br><br>
	  </p>
	  <p>
	    <%= f.submit "Guardar", class: "btn btn-sm btn-primary" %>
	  </p>
	<% end %>
	</table>
  </div>
</div>
<!-- spot.child.family_relations -->