<% if @childs.count>0 %>
	<% @childs.each_with_index do |c,index| %>
		<% if c.family_relations.first.family.status? %>
			<a href="/spots/create?child_id=<%= c.id %>&group_id=<%= @group.id %>" data-remote="true"  class="child_selector child_<%= c.id %>" id="child_selector_<%= index %>" data-childid="<%= c.id %>" data-weeks="<%= ((Date.today.to_date - c.dob.to_date).to_i)/7 %>">
				<div class="child_spot child_result child_appended">
					<% if c.photo_url.to_s.include?('/default/') %>
						<img src="<%= c.photo_url %>" alt="<%= c.name %>" class="attendance_img">
					<% else %>
						<img src="<%= c.photo_url(:thumb) %>" alt="<%= c.name %>" class="attendance_img">
					<% end %>
					<div class="weeks_stat">
						<p><span><%= ((Date.today.to_date - c.dob.to_date).to_i)/7 %></span><br>Semanas</p>
					</div>
					<div class="kid_stats">
						<p><%= c.name %></p>
					</div>
					<div class="child_selected">
						<span class="glyphicon glyphicon-ok"></span>
					</div>
				</div>
			</a>
		<% end %>
	<% end %>
<% else %>
	<h4 class="counter_is_zero">No se encontraron niños con ese nombre</h4>
<% end %>
<script>
	$(document).ready(function() {
		$('.child_result').each(function(index, el) {
			$(this).stop().delay(index*100).animate({opacity:1,top:0},600,'easeOutQuart');
		});
	});
</script>