<% if object.deactivated.blank? %>
	<div class="child_spot child_appended child_spot_<%= object.child.id %>" data-toggle="modal" data-target="#child_observation_<%= object.id %>" id="child_spot_<%= object.child.id %>">
<% else %>
	<div class="child_spot child_appended spot-deactivated child_spot_<%= object.child.id %>" data-toggle="modal" data-target="#child_observation_<%= object.id %>" id="child_spot_<%= object.child.id %>">
<% end %>
	<div class="child_attendance_over">
		<span class="glyphicon glyphicon-plus"></span>
	</div>
	<% if object.child.photo_url.to_s.include?('/default/') %>
		<img src="<%= object.child.photo_url %>" alt="<%= object.child.name %>" class="kid_up_photo">
	<% else %>
		<img src="<%= object.child.photo_url(:thumb) %>" alt="<%= object.child.name %>" class="kid_up_photo">
		<% end %>
		<div class="kid_stats">
			<p><%= object.child.name %></p>
		</div>
		<% if object.can_destroy? %>
			<div class="child_remove">
				<a href="/spots/destroy?id=<%= object.id %>&group_id=<%= @group.id %>" class="tip" data-toggle="tooltip" data-placement="left" data-remote="true" title="Eliminar">
				<div class="remove"></div>
				</a>
			</div>
		<% else %>
			<% if object.deactivated.blank? %>
				<div class="deactivated-close">
					<a href="/spots/deactivated?id=<%= object.id %>&group_id=<%= @group.id %>" class="tip" data-toggle="tooltip" data-placement="left" data-remote="true" title="Baja">
						<div class="glyphicon glyphicon-download"></div>
					</a>
				</div>
			<% else %>
				<div class="deactivated-close">
					<a href="/spots/deactivated?id=<%= object.id %>&group_id=<%= @group.id %>" class="tip " data-toggle="tooltip" data-placement="left" data-remote="true" title="Alta">
						<div class="glyphicon glyphicon-upload"></div>
					</a>
				</div>
			<% end %>
		<% end %>
	</div>
	<div class="modal fade modal_spot_observation" id="child_observation_<%= object.id %>" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title"><%= link_factory(:_text => object.child.name, :_path => person_path(object.child)) %> | Historial de registro</h4>
				</div>
				<div id="form_spot_container_<%= object.id %>">
					<!-- render ajax -->
				</div>
			</div>
		</div>
	</div>