<% provide(:title, "Registro de #{@spot.child.name} en grupo #{@group.name}") %>
<!--<% provide(:title, "#{@spot.child.name} #{@spot.child.first_last_name} #{@spot.child.second_last_name}") %>-->
<div class="boton_der">
	<div class="top_buttons">
		<%= link_factory( :_path => group_path(@group), :_text => 'Regresar a Grupo', :_button => true, :_class => 'btn btn-info' ) %>
		<%= link_factory( :_path => new_group_spot_payment_path(@group, @spot), :_text => 'Nuevo Pago', :_button => true, :_class => 'btn btn-default' ) %>
	</div>
	<h1><%= "Registro de #{@spot.child.name} en grupo #{@group.name}" %><span class="line"></span></h1>
</div>

<% if !@spot.child.family_relations.first.family.status? %>
	<div class="alert alert-danger">La familia está en modo pasivo. No puede llevar a cabo esta acción.</div>
<% end %>
	<div class="all_width light_box">
		<div class="spacer"></div>
		<div class="col-md-5">
		  <h4>Costo del grupo $<%= @group.cost %></h4>
		</div>
		<div class="col-md-5" id="spot_container">
			<%= render "/spots/form" %>
		</div>
	<div class="spacer"></div>
	<div class="col-md-12">
		<div class="blue_box">
			<% if @spot.payments.empty? %>
				<h4 class="counter_is_zero">Aún no existen pagos</h4>
			<% else %>
				<h4>Pagos</h4>
				<table class="table table-striped">
					<tr>
						<th>Fecha</th>
						<th>Monto</th>
						<th>Saldo</th>
						<th>Pago extr.</th>
						<th>Aclaración</th>
					</tr>
					<% total_cost = @spot.group.cost
						total_payments = 0 %>
					<% @spot.payments.each do |payment| %>
						<% total_payments += payment.amount %>
						<tr>
							<td>
								<% if payment.scholarship %>
									<span class="current_group scholarship_payment"></span>
								<% else %>
									<span class="current_group current_null"></span>
								<% end %>
								<%= payment.date %>
							</td>
							<td>
								<%= negative_value payment.amount %>
							</td>
							<td>$<%= total_cost-total_payments %></td>
							<td>
								<%= negative_value payment.amount %>
							</td>
							<td>
								<%= payment.clarification.html_safe %>
							</td>
						</tr>
					<% end %>
					<tr class="total_blue">
						<td>Total</td>
						<td>
							<%= negative_value (total_payments @spot) %>
						</td>
						<td>
							<%= negative_value @spot.balance %>
						</td>
						<td>
							<%= negative_value (total_scholarship @spot) %>
						</td>
						<td></td>
					</tr>
				</table>
				<div class="boton_der">
					<p style="width: 100%; height: 30px; top: -7px; ">
						<div style="color: #A8A8A8; position: absolute; top: 30px; font-style: italic; font-size: 12px; left: 8px;">
							<span class="current_group current_null"></span>Pago regular
						</div>
						<div style="color: #A8A8A8; position: absolute; top: 10px; font-style: italic; font-size: 12px; left: 8px;">
							<span class="current_group scholarship_payment"></span>Pago extr.
						</div>
					</p>
				</div>
			<% end %>
		</div>
	</div>
	<% if @spot.payments.count==0 %>
		<div style="float: right; padding-right: 15px; padding-top: 13px;">
			<%= link_factory( :_path => group_spot_path(@group, @spot), :_text => 'Desinscripción', :_button => true, :_class => 'btn btn-danger', :_alert=> 'Este niño tiene asistencias y/o pagos realizados. No se puede eliminar.', :_destroy => true ) %>
		</div>
	<% end %>
</div>