<% provide(:title, "#{@group.name} / #{@spot.child.name} #{@spot.child.first_last_name} #{@spot.child.second_last_name}") %>

<div class="boton_der">
	<div class="top_buttons">
		<%= link_to group_path(@group) do %>
			<p><button type="button" class="btn btn-info">Regresar a Grupo</button></p>
		<% end %>
		<% if @spot.child.family_relations.first.family.status? %>
			<%= link_to edit_group_spot_path(@group,@spot) do %>
				<p><button type="button" class="btn btn-default">Editar Spot</button></p>
			<% end %>
		<% end %>
	</div>
	<h1><%= "#{@group.name} / #{@spot.child.name} #{@spot.child.first_last_name} #{@spot.child.second_last_name}" %><span class="line"></span></h1>
</div>

<% if !@spot.child.family_relations.first.family.status? %>
	<div class="alert alert-danger">La familia está en modo pasivo. No puede llevar a cabo esta acción.</div>
<% end %>
  <div class="all_width light_box">
  	<h4>Pagos</h4>
	<div class="blue_box">
		<% if @spot.payments.count>0 %>
			<table class="table table-striped">
				<tr>
					<th>Fecha</th>
					<td>Monto</td>
					<td>Beca</td>
				</tr>
				<% @spot.payments.each do |payment| %>
					<tr>
						<td><%= payment.date %></td>
						<td>$<%= payment.amount %>.00</td>
						<% if(payment.scholarship) %>
							<td>SI</td>
						<% else %>
							<td>NO</td>
						<% end %>
					</tr>
				<% end %>
			</table>
			<% if @spot.child.family_relations.first.family.status? %>
				<div class="boton_der">
					<%= link_to new_group_spot_payment_path(@group, @spot) do %>
						<p><button type="button" class="btn btn-default">Nuevo Pago</button></p>
					<% end %>
				</div>
			<% end %>
		<% else %>
			<h4 class="counter_is_zero">Aún no existen pagos</h4>
		<% end %>
	</div>
  </div>