<% unless signed_in? %>
	<% provide(:title, "Iniciar Sesión") %>
	<%= form_for(:session, url: sessions_path) do |f| %>
		<%= f.label :email %>
		<%= f.text_field :email, { :class => "form-control" } %>
		<%= f.label :password, :for => "session_password" %>
		<%= f.password_field :password, { :class => "form-control" } %>
      	<%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
	<% end %>
	<%= link_to 'Registrarse', new_user_path %>
<% else %>
	<h1>Login exitoso</h1>
	<% provide(:title, "#{current_user.name}") %>
<% end %>