<% provide(:title, "Cambiar contrase単a de: #{@user.name}") %>

<div class="boton_der">
	<p>	<button type="button" class="btn btn-info"><%= link_to "Regresar a Perfil", edit_user_path %></button></p>
</div>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <%= simple_form_for @user, :url => password_reset_path(params[:id]) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <% if !current_user.admin? %>
        <p><%= f.input :old_password, label: "Contrase単a Actual" %><p>
      <% end %>
      <p><%= f.input :password, label: "Contrase単a" %><p>
      <p><%= f.input :password_confirmation, label: "Confirmar Contrase単a" %><p>
      <p><%= f.submit "Guardar", class: "btn btn-sm btn-info" %></p>
    <% end %>
  </div>
</div>