<div id="exercises_container">
	<div class="boton_der" id="header_buttons_class">
		<div id="buttons_edit_observation">
			<%= link_to edit_group_lecture_path(@group, @lecture) do %>
				<p><button type="button" class="btn btn-default btn-xs">Editar Clase</button></p>
			<% end %>
			<p><button class="btn btn-warning btn-xs" data-toggle="modal" data-target="#lecture_observation">Observación</button></p>
		</div>
		<h4>Clase del <%= @lecture.date.to_s(:standard) %></h4>
	</div>
	<div class="boton_der">
		<div class="top_buttons top_buttons_group">
			<%= link_to group_lecture_exercises_path(@group, @lecture) do %>
				<span data-toggle="tooltip" data-placement="left" title="Seleccionar Ejercicios" class="tip glyphicon glyphicon-plus-sign" style="margin: 10px; font-size: 24px; position: relative; top: 7px; margin-left: 0px; right: 0; position: absolute; top: -46px; color: #107BD8;
				"></span>
			<% end %>
		</div>
		<h1>Ejercicios <%= @lecture.exercises.count %></h1>
	</div>
	<div class="all_width blue_box" id="exercises_container_table">
		<div class="all_width white_box">
			<table class="table table-striped">
			<tr>	
				<th>Nombre</th>
				<th>Área</th>
				<th>Detalles</th>
			</tr>
			<% if @lecture.exercises %>
				<% @lecture.exercises.each_with_index do |ex,index| %>
					<tr>
						<td><%= link_to ex.name, group_lecture_exercise_path(@group, @lecture, ex) %></td>
						<td><%= ex.area %></td>
						<td>
							<button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#ex_<%= index %>">Leer más</button>
							<div class="modal fade" id="ex_<%= index %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
											<h4 class="modal-title" id="myModalLabel"><%= ex.area %>: <%= ex.name %></h4>
										</div>
										<div class="modal-body">
											<p><strong>Descripción:</strong> <%= ex.description %></p>
											<p><strong>Objetivo:</strong> <%= ex.objective %></p>
											<p><strong>Material:</strong> <%= ex.material %></p>
											<p><strong>Música:</strong> <%= ex.music %></p>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-danger btn-xs" data-dismiss="modal">Cerrar</button>
										</div>
									</div>
								</div>
							</div>
						</td>
					</tr>
				<% end %>
			<% else %>
				<h1>No Hay ejercicios</h1>
			<% end %>
		</table>
		</div>
	</div>
</div>

<div class="boton_der">
	<div class="top_buttons top_buttons_group">
		<%= link_to new_group_lecture_attendance_path(@group, @lecture) do %>
			<span data-toggle="tooltip" data-placement="left" title="Tomar Asistencia" class="tip glyphicon glyphicon-plus-sign" style="margin: 10px; font-size: 24px; position: relative; float: right; color: #107BD8; "></span>
		<% end %>
	</div>
	<h1>Asistencia <%= "#{@lecture.attendances.count} / #{@group.spots.count}" %></h1>
</div>

<div id="attendances" class="all_width blue_box">
	<div id="scroll_attendances">
		<% @lecture.attendances.each_with_index do |c,index| %>
			<div class="child_attendance" id="child_spot_<%= c.person.id %>"  data-toggle="modal" data-target="#att_<%= c.id %>">
				<div class="child_attendance_over">
					<span class="glyphicon glyphicon-eye-open"></span>
				</div>
				<img src="<%= c.person.photo %>" alt="<%= c.person.name %>" class="kid_attendance_photo">
				<div class="kid_stats">
					<p><%= c.person.name %></p>
				</div>
			</div>
			<div id="lecture_observation_<%= c.id %>">
				<div class="modal fade" id="att_<%= c.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								<h4 class="modal-title" id="myModalLabel"><%= link_to c.person.full_name, c.person %></h4>
							</div>
							<%= form_tag("/attendances/observation/#{c.id}", :method => "get", remote: true ) do %>
								<div class="modal-body">
									<%= text_area_tag "observation", c.observation, :class => "form-control", placeholder: "Observación de clase" %>
								</div>
								<div class="modal-footer" id="fadebackdrop">
									<%= submit_tag "Guardar Cambios", :class => "btn btn-default" %>
									<button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
								</div>
							<% end %>
						</div>
					</div>
				</div>
			</div>
		<% end %>
	</div>
</div>

	<div class="modal fade" id="lecture_observation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">Observación de la clase</h4>
				</div>
				<%= form_tag("/lectures/observation/#{@lecture.id}", :method => "get", remote: true ) do %>
					<div class="modal-body">
						<%= text_area_tag "observation", @lecture.observation, :class => "form-control", placeholder: "Escribe una observación" %>
					</div>
					<div class="modal-footer" id="fadebackdrop">
						<%= submit_tag "Guardar Cambios", :class => "btn btn-default" %>
						<button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
					</div>
				<% end %>
			</div>
		</div>
	</div>
<script>
	$(document).ready(function() {
		$('.child_attendance').hover(function() {
			$(this).find('.child_attendance_over').fadeIn();
			$(this).find('.child_attendance_over span').animate({top:27,opacity:1},600,'easeOutQuart');
		}, function() {
			$(this).find('.child_attendance_over').fadeOut();
			$(this).find('.child_attendance_over span').animate({top:7,opacity:0},600,'easeOutQuart',function(){
				$(this).removeAttr('style');
			});
		});
	});
</script>