<div id="exercises_container">
	<div class="boton_der" id="header_buttons_class">
		<div id="buttons_edit_observation">
			<!--<%= link_factory(:_path=>edit_group_lecture_path(@group, @lecture), :_text=> 'Editar Clase', :_class=>'btn btn-default btn-xs', :_button=>true) %>-->
			<p><button class="btn btn-warning btn-xs" data-toggle="modal" data-target="#lecture_observation">Observación</button></p>
			<div id="add_objective_to_lecture">
				<button class="btn btn-warning btn-xs" data-toggle="modal" data-target="#lesson_objective_modal">Objetivo</button>
			</div>
		</div>
		<h4>Clase del <%= I18n.l @lecture.date, :format => "%d de %B del %Y" %> -
		<%= @lecture.date.strftime("%H:%M %P") %>
		</h4>
	</div>
	<div id="lecture_objective">
		<%= render 'lectures/objective' %>
	</div>
	<div id="lecture_observation_<%= @lecture.id %>">
		<div class="modal fade" id="lecture_observation" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title">Observación de clase</h4>
					</div>
					<%= form_tag("/lectures/observation/#{@lecture.id}", :method => "get", remote: true ) do %>
						<div class="modal-body">
							<%= text_area_tag "observation", @lecture.observation, :class => "form-control", placeholder: "Escribe una observación" %>
						</div>
						<div class="modal-footer">
							<%= submit_tag "Guardar Cambios", :class => "btn btn-default" %>
							<button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
	<div class="boton_der">
		<div class="top_buttons top_buttons_group">
			<%= link_to group_lecture_exercises_path(@group, @lecture, :show=>true) do %>
			<span data-toggle="tooltip" data-placement="left" title="Seleccionar Actividades" class="tip glyphicon glyphicon-plus-sign" style="margin: 10px; font-size: 24px; position: relative; top: 7px; margin-left: 0px; right: 0; position: absolute; top: -46px; color: #107BD8;
			"></span>
			<% end %>
		</div>
		<h1>Actividades <%= @lecture.exercises.count %></h1>
	</div>
	<div class="all_width blue_box" id="exercises_container_table">
		<div class="all_width white_box" style="height: 222px;">
			<% if @lecture.exercises.count>0 %>
			<div id="fixed_top_exercises">
				<div class="text_center exercise_top_title">Nombre</div>
				<div class="text_center exercise_top_title">Rango</div>
				<div class="text_center exercise_top_title">Área</div>
				<div class="text_center exercise_top_title">Detalles</div>
			</div>
			<div id="tiny_exercises" class="tiny_scroll">
				<div class="scrollbar">
					<div class="track">
						<div class="thumb"></div>
					</div>
				</div>
				<div class="viewport">
					<div class="overview">
						<table class="table table-striped">
							<% @lecture.plans.each_with_index do |plan,index| %>
							<tr>
								<td class="exercise_content">
									<%= link_factory(:_path=>group_lecture_exercise_path(@group, @lecture, plan.exercise), :_text=> plan.exercise.name ) %>
								</td>
								<td class="text_center exercise_content"><%= "#{@group.min_age} - #{@group.max_age}" %></td>
								<td class="text_center exercise_content">
									<% if plan.exercise.areas.count==1 %>
									<%= plan.exercise.areas.first.name %>
									<% else %>
									<% plan.exercise.areas.each do |a| %>
									<span data-toggle="tooltip" data-placement="left" title="<%= a.name %>" class="tip" data-original-title="<%= a.name %>"><%= a.name.slice(0..1) %></span>
									<% end %>
									<% end %>
								</td>
								<td class="exercise_content text_center">
									<button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#ex_<%= plan.id %>">Leer más</button>
								</td>
								<div class="modal fade modal_extras_plan" data-exercise="<%= plan.exercise.id %>" id="ex_<%= plan.id %>" tabindex="-1" role="dialog" aria-hidden="true">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
												<h4 class="modal-title"><%= plan.exercise.name %></h4>
											</div>
											<div id="plan_extras_container_<%= plan.id %>">
												<!-- render ajax -->
											</div>
										</div>
									</div>
								</div>
							</tr>
							<% end %>
						</table>
					</div>
				</div>
			</div>
			<% else %>
			<h4 class="counter_is_zero">Esta clase no cuenta con actividades</h4>
			<% end %>
		</div>
	</div>
</div>
<div class="boton_der">
	<div class="top_buttons top_buttons_group">
		<% if @lecture.date <= Date.tomorrow.to_date %>
		<%= link_to new_group_lecture_attendance_path(@group, @lecture) do %>
		<span data-toggle="tooltip" data-placement="left" title="Tomar Asistencia" class="tip glyphicon glyphicon-plus-sign" style="margin: 10px; font-size: 24px; position: relative; float: right; color: #107BD8; "></span>
		<% end %>
		<% else %>
		<span data-toggle="tooltip" data-placement="left" title="Aún no llega la fecha para dar esta clase, no puedes tomar asistencia." class="tip glyphicon glyphicon-plus-sign" style="margin: 10px; font-size: 24px; position: relative; float: right; color: #107BD8; "></span>
		<% end %>
	</div>
	<h1>Asistencias <%= "#{@lecture.attendances.count} / #{@lecture.possible_attendances.count}" %></h1>
</div>
<div id="attendances" class="all_width blue_box">
	<div id="scroll_attendances">
		<% if @lecture.attendances.count > 0 %>
		<% @lecture.attendances.each_with_index do |c,index| %>
		<div class="child_attendance attendance_photo" id="child_spot_<%= c.spot.child.id %>" data-toggle="modal" data-target="#att_<%= c.id %>">
			<div class="child_attendance_over">
				<span class="glyphicon glyphicon-plus"></span>
			</div>
			<% if c.spot.child.photo_url.to_s.include?('/default/') %>
			<img src="<%= c.spot.child.photo_url %>" alt="<%= c.spot.child.name %>" class="kid_up_photo">
			<% else %>
			<img src="<%= c.spot.child.photo_url(:thumb) %>" alt="<%= c.spot.child.name %>" class="kid_up_photo">
			<% end %>
			<div class="kid_stats">
				<p><%= c.spot.child.name %></p>
			</div>
		</div>
		<div id="lecture_observation_<%= c.id %>">
			<div class="modal fade modal_attendance" id="att_<%= c.id %>" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<% if c.spot.child.photo_url.include?('/default/') %>
							<%= image_tag c.spot.child.photo_url.to_s, :class => 'kid_up_photo' %>
							<% else %>
							<%= image_tag c.spot.child.photo_url(:thumb).to_s, :class => "kid_up_photo" %>
							<% end %>
							<h4 class="modal-title attendance_title">
							<%= link_factory(:_path=>person_path(c.spot.child), :_text=>c.spot.child_name) %>
							</h4>
							<div class="tutor_title">
								Tutor: <%= link_factory(:_path=>person_path(c.spot.tutor), :_text=>c.spot.tutor_name) %>
							</div>
						</div>
						<div id="form_child_container_<%= c.id  %>">
							<!-- render ajax -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<% end %>
		<% else %>
		<h4 class="counter_is_zero">Esta clase no cuenta con asistencias</h4>
		<% end %>
	</div>
</div>
<script>
	$(document).ready(function(){
		$('.tip').tooltip();
	});
</script>