<div class="panel panel-primary">
	<div class="group_info">
		<li><strong>Fecha:</strong> <%= @lecture.date.strftime('%d/%m/%Y') %></li>
		<li><strong>Hora:</strong> <%= @lecture.date.strftime('%I:%M %p') %></li>
  </div>
</div>
<h1>Ejercicios <%= @lecture.exercises.count %></h1>
<div class="all_width">
	<table class="table table-striped">
		<tr>	
		<th>Ejercicio</th>
			<th>Objetivo</th>
			<th>Descripción</th>
			<th>Material</th>
			<th>Nombre</th>
		</tr>
		<% @lecture.exercises.each do |ex| %>
			<tr>
				<td><%= ex.objective %></td>
				<td><%= ex.description %></td>
				<td><%= ex.material %></td>
				<td>
					<% if ex.areas.count==1 %>
						<%= ex.areas.first.name %>
					<% else %>
						<% ex.areas.each do |a| %>
							<span data-toggle="tooltip" data-placement="left" title="<%= a.name %>" class="tip" data-original-title="<%= a.name %>"><%= a.name.slice(0..1) %></span>
						<% end %>
					<% end %>
				</td>
			</tr>
		<% end %>
	</table>
</div>
<div class="boton_der">
	<%= link_to group_lecture_exercises_path(@group, @lecture) do %>
		<p><button type="button" class="btn btn-default btn-xs">Seleccionar Ejercicios</button></p>
	<% end %>
</div>
<h1>Asistencia <%= "#{@lecture.attendances.count} / #{@group.spots.count}" %></h1>
<div id="attendances" class="all_width">
	<div id="scroll_attendances">
		<% @lecture.attendances.each do |c| %>
			<div class="child_attendance" id="child_spot_<%= c.person.id %>">
				<% if c.person.photo_url.to_s.include?('/default/') %>
					<img src="<%= c.person.photo_url %>" alt="<%= c.person.name %>" class="kid_up_photo">
				<% else %>
					<img src="<%= c.person.photo_url(:thumb) %>" alt="<%= c.person.name %>" class="kid_up_photo">
				<% end %>
				<div class="kid_stats">
					<p><%= c.person.name %></p>
				</div>
			</div>
		<% end %>
	</div>
</div>
<div class="boton_der">
	<%= link_to new_group_lecture_attendance_path(@group, @lecture) do %>
		<p><button type="button" class="btn btn-default btn-xs">Tomar Asistencia</button></p>
	<% end %>
</div>

<!-- <h1>Observación</h1>
<div class="all_width">
	<p><%= @lecture.observation %></p>
</div>
<div class="boton_der">
	<%= link_to group_lecture_path(@group, @lecture), method: :delete, data: { confirm: "¿Estás Seguro?" } do %>
		<p><button type="button" class="btn btn-danger btn-xs">Borrar Clase</button></p>
	<% end %>
	<%= link_to edit_group_lecture_path(@group, @lecture) do %>
		<p><button type="button" class="btn btn-default btn-xs">Editar Clase</button></p>
	<% end %>
</div> -->