<!doctype html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>D0A3</title>
</head>
	<body style="background-color:#ffffff;">
		<table style="width: 800px; margin: 0 auto; height: 10px; color: black; font-family: Arial, Helvetica, sans-serif; text-align: left;">
			<tbody style="background: #F0F0F0; ">
				<tr style="background-color: #81519c; text-align: center; ">
					<td style="width: 200px; height: 50px;background-color: #333333; ">
						<a href="http://d0a3.herokuapp.com/">
							<img src="http://d0a3.herokuapp.com/assets/D0A3-logo.png" alt="De Cero A Tres">
						</a>
					</td>
					<td style="color: #fff; margin: 10px; text-indent: 15px; font-size: 23px; ">Recordatorio de Clase</td>
				</tr>
				<tr style="text-align: c; ">
					<td style="text-align: center; "><p>Hola: <%= @name %></p><p>¿Ya has preparado tu clase?</p></td>
					<td style="text-align: center; ">
						<p><strong>Fecha:</strong> <%= @lecture.date.strftime('%d/%m/%Y') %> /</p>
						<p><strong>Hora:</strong> <%= @lecture.date.strftime('%I:%M %p') %></p>
					</td>
				</tr>
				<tr>
					<td>
						<a href="http://d0a3.herokuapp.com/groups/<%= @lecture.group.id %>/lectures/<%= @lecture.id %>/exercises" target="_blank">Seleccionar Ejercicios</a>
					</td>
				</tr>
				<tr>
					<td>
						<a href="http://d0a3.herokuapp.com/groups/<%= @lecture.group.id %>/lectures/<%= @lecture.id %>/attendances/new" target="_blank">Tomar Asistencia</a>
					</td>
				</tr>
				<tr>
					<td>
						<a href="http://d0a3.herokuapp.com/groups/<%= @lecture.group.id %>/lectures/<%= @lecture.id %>/edit" target="_blank">Edita Clases</a>
					</td>
				</tr>
			</tbody>
		</table>
	</body>
</html>