<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<%= simple_form_for [@family, @person], :html => {:multipart => true, :class => 'form-horizontal'} do |f| %>
			<%= render 'shared/error_messages', object: f.object %>
			<p><%= f.input :name, label:"Nombre"  %></p>
			<p><%= f.input :first_last_name, label: "Apellido Paterno" %></p>
			<p><%= f.input :second_last_name, label: "Apellido Materno" %></p>
			<p><%= f.input :sex, label: "Genero", collection: ["M", "F"], :as => :radio_buttons %></p>
			<span id="selector_fecha">
				<%= f.input :dob, label: "Fecha de Nacimiento", :order => [:day, :month, :year],:start_year => Time.now.year, :end_year => Time.now.year-100, :input_html => { :class => 'date_selector' } %>
			</span>
			<p>
				<% relations = ["Hijo","Hija","Padre","Madre","Abuelo","Tío","Tía","",nil] %>
				<% if relations.include?(@person.family_roll) %>
					<%= f.input :family_roll, label: "Roll Familiar", include_blank: 'Selecciona un roll', collection: [[ 'Hijo', 'Hijo', :class => 'man' ], [ 'Hija', 'Hija', :class => 'woman' ], [ 'Padre', 'Padre', :class => 'man' ], [ 'Madre', 'Madre', :class => 'woman' ], [ 'Abuelo', 'Abuelo', :class => 'man' ], [ 'Abuela', 'Abuela', :class => 'woman' ], [ 'Tío', 'Tío', :class => 'man' ], [ 'Tía', 'Tía', :class => 'woman' ], [ 'Otro', 'Otro', :id => 'other_value' ]] %>
				<% else %>
					<%= f.input :family_roll, label: "Roll Familiar",include_blank: 'Selecciona un rol', collection: [[ 'Hijo', 'Hijo', :class => 'man' ], [ 'Hija', 'Hija', :class => 'woman' ], [ 'Padre', 'Padre', :class => 'man' ], [ 'Madre', 'Madre', :class => 'woman' ], [ 'Abuelo', 'Abuelo', :class => 'man' ], [ 'Abuela', 'Abuela', :class => 'woman' ], [ 'Tío', 'Tío', :class => 'man' ], [ 'Tía', 'Tía', :class => 'woman' ], [@person.family_roll,@person.family_roll], [ 'Otro', 'Otro', :id => 'other_value' ]] %>
				<% end %>
				<input id="other_name" type="text" placeholder="Escribe el parentesco" style="margin-top: -34px; width: 95%; display:none; z-index: 1; position: relative; border-bottom-right-radius: 0px; border-top-right-radius: 0px;" name="person[other]" class="form-control">
			</p>
			<% if @person.photo_url.to_s.include?('user/default') %>
				<img src="" id="image_url" alt="">
			<% else %>
				<%= image_tag @person.photo_url.to_s, id: 'image_url' %>
			<% end %>
			<p><%= f.input :photo, label: "Foto" %></p>
			<p><%= f.submit "Guardar", class: "btn btn-sm btn-primary" %></p>
		<% end %>
	</div>
</div>

<script>
	$(document).ready(function() {
		$('#person_photo').imagePreview();
		$("#person_family_roll").change(function () {
			var value = $(this).val();
			if(value=='Otro') $("#other_name").val("").show().focus();
			else $("#other_name").hide().blur();
		});
		$("#other_name").on('keyup',function(e){
			var newOption = $(this).val();
			$("#other_value").val(newOption);
		});
		$('input:radio').on("click",checkSex);
		checkSex();
	});
	function checkSex(){
		if($("#person_sex_m").is(':checked')){
			$('.man').show();
			$('.woman').hide();
		}else{
			$('.man').hide();
			$('.woman').show();
		}
	}
</script>