<% provide(:title, "Todos los Miembros") %>

<div class="boton_der">
	<h1>Todos los Miembros<span class="line"></span></h1>
</div>
<div class="all_width blue_box">
	<div id="searcher" class="all_width light_box">
		<%= form_tag("/people/search") do %>
			<%= text_field_tag "query", nil, :placeholder => "Nombre y apellidos", :class => "search_input form-control" %>
			<%= submit_tag "Buscar", :class => "btn btn-sm btn-primary" %>
		<% end %>
	</div>
	<div class="spacer"></div>
	<% if @people.count > 0 %>
		<%= render 'people/list' %>
	<% else %>
		<h4 class="counter_is_zero">Aún no existe ni un miembro. Agrega primero una familia.</h4>
	<% end %>
</div>
<h6>Total de Miembros: <%= @people.count %></h6>