<% provide(:title, "Todos los Miembros") %>

<div class="boton_der">
	<h1>Todos los Miembros<span class="line"></span></h1>
</div>

<div class="all_width blue_box">
	<% if @people.count > 0 %>
		<table class="table table-striped tablesorter">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Apellido Paterno</th>
					<th>Apellido Materno</th>
					<th class="td_center">Sexo</th>
					<th class="td_center">Fecha de Nacimiento</th>
					<th>Relación</th>
				</tr>
			</thead>
			<tbody>
				<% @people.each do |member| %>
					<tr>
						<td><%= link_to member.name, member %></td>
						<td><%= member.first_last_name %></td>
						<td><%= member.second_last_name %></td>
						<td class="td_center"><%= member.sex %></td>
						<td class="td_center"><%= member.dob %></td>
						<td><%= member.family_roll %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
		<%= will_paginate @groups, renderer: BootstrapPagination::Rails %>
	<% else %>
		<h4 class="counter_is_zero">Aún no existe ni un miembro. Agrega primero una familia.</h4>
	<% end %>
</div>
<h6>Total de Miembros: <%= @people.count %></h6>