<% provide(:title, @person.full_name) %>

<div class="boton_der">
	<div class="top_buttons">
		<%= link_to @family do %>
			<p><button type="button" class="btn btn-info">Regresar a Familia</button></p>
		<% end %>
		<%= link_to edit_family_person_path(@person.families.first, @person) do %>
			<p><button type="button" class="btn btn-default">Editar</button></p>
		<% end %>
	</div>
	<h1><%= @person.full_name %><span class="line"></span></h1>
</div>

<div class="all_width light_box">
	<div class="col-md-4">
		<h4>Perfil</h4>
		<div class="under_pressure"></div>
		<div class="all_width blue_box">
			<div class="white_box">
				<div class="td_center">
					<%= image_tag @person.photo_url.to_s %>
				</div>
				<table class="table table-striped">
					<tbody>
						<tr>
							<th>Familia</th>
							<td><%= link_to @person.families.first.name, @person.families.first %></td>
						</tr>
						<tr>
							<th>Tutor</th>
							<% if @person.families.first.responsible %>
								<td><%= link_to @person.families.first.responsible.full_name, @person.families.first.responsible %></td>
							<% else %>
								<td><%= @person.full_name %></td>
							<% end %>
						</tr>
						<tr>
							<th>Edad</th>
							<td><%= ((Date.today.to_date - @person.dob.to_date)/365).to_i %> años</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<% if (((Date.today.to_date - @person.dob.to_date)/365).to_i)<5  %>

		<div class="col-md-8">
			<!-- <h4>Familias</h4>
			<div class="under_pressure"></div>
			<div class="all_width blue_box">
				<table class="table table-striped">
					<% @person.families.each do |family| %>
						<tr>
							<td><%= link_to family.name, family %></td>
						</tr>
					<% end %>
				</table>
			</div>
			<div class="spacer"></div> -->
			<h4>Grupos</h4>
			<div class="under_pressure"></div>
			<div class="all_width blue_box">
				<table class="table table-striped">
					<tr>
						<th>Nombre</th>
						<th>Asistencias</th>
						<th>Observaciones</th>
						<th>Pagos</th>
					</tr>
					<% @person.spots.each_with_index do |spot,index| %>
						<tr>
							<td><%= link_to spot.group.name, spot.group %></td>
							<% spot.group.lectures.each do |l| %>
								<% l.attendances.each do |a| %>
									<%= a.person.name %>
								<% end %>
							<% end %>
							<td><%= spot.group.lectures.count %></td>
							<td>
								<button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#per_<%= index %>">
								  Observaciones
								</button>
								<div class="modal fade" id="per_<%= index %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
								  <div class="modal-dialog">
								    <div class="modal-content">
								      <div class="modal-header">
								        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								        <h4 class="modal-title" id="myModalLabel">Observaciones en clases del grupo <%= spot.group.name %></h4>
								      </div>
								      <div class="modal-body">
								      	<div class="observation_container blue_box">
									        <% spot.group.lectures.each do |lec| %>
									        	<% if lec.observation != "" && lec.observation != nil %>
									        		<table class="table table-striped">
														<tr>
															<th>Fecha</th>
															<th>Observación</th>
														</tr>
														<tr>
															<td><%= lec.date.strftime('%d/%m/%Y') %></td>
															<td><%= lec.observation %></td>
														</tr>
													</table>
									        	<% end %>
									        <% end %>
									    </div>
								        <div class="spacer"></div>
								      </div>
								      <div class="modal-footer">
								        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
								      </div>
								    </div>
								  </div>
								</div>
							</td>
							<td>
								<button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#payment_<%= index %>">
								  Pagos
								</button>
								<div class="modal fade" id="payment_<%= index %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
								  <div class="modal-dialog">
								    <div class="modal-content">
								      <div class="modal-header">
								        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								        <h4 class="modal-title" id="myModalLabel">Pagos en el grupo <%= spot.group.name %></h4>
								      </div>
								      <div class="modal-body">
								      	<div class="observation_container blue_box">
								      		<% if spot.payments.count>0 %>
										        <% spot.payments.each do |payment| %>
										        	<table class="table table-striped">
														<tr>
															<th>Fecha</th>
															<th>Cantidad</th>
															<th>Beca</th>
														</tr>
														<tr>
															<td><%= payment.date.strftime('%d/%m/%Y') %></td>
															<td>$<%= payment.amount %></td>
															<td>
																<% if payment.scholarship %>
																	SI
																<% else %>
																	NO
																<% end %>
															</td>
														</tr>
													</table>
												<% end %>
											<% else %>
												No hay ningún pago realizado
											<% end %>
										</div>
										<div class="spacer"></div>
									</div>
									<div class="modal-footer">
										<%= link_to new_group_spot_payment_path(spot.group, spot) do %>
											<button type="button" class="btn btn-warning">Realizar Pagos</button>
										<% end %>
										<button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
									</div>
								</div>
							</div>
						</div>
					</td>
				</tr>
				<% end %>
			</table>
		</div>
	</div>
	<% end %>
</div>