<% provide(:title, @person.full_name) %>

<div class="boton_der">
	<div class="top_buttons">
		<%= link_to @person.families.first do %>
			<p><button type="button" class="btn btn-info">Regresar a Familia</button></p>
		<% end %>
		<%= link_to edit_family_person_path(@person.families.first, @person) do %>
			<p><button type="button" class="btn btn-default">Editar</button></p>
		<% end %>
	</div>
	<h1><%= @person.full_name %><span class="line"></span></h1>
</div>

<div class="all_width light_box">
	<div class="col-md-4">
		<h4>Perfil</h4>
		<div class="under_pressure"></div>
		<div class="all_width blue_box">
			<div class="white_box">
				<div class="text_center">
					<% if @person.photo_url.include?('/default/') %>
						<%= image_tag @person.photo_url.to_s, id: 'image_url' %>
					<% else %>
						<%= image_tag @person.photo_url(:thumb).to_s, :class => "profile_thumb" %>
					<% end %>
				</div>
				<table class="table table-striped">
					<tbody>
						<tr>
							<th>Familia</th>
							<td><%= link_to @person.families.first.name, @person.families.first %></td>
						</tr>
						<tr>
							<th>Responsable</th>
							<% if @person.families.first.responsible %>
								<td><%= link_to @person.families.first.responsible.full_name, @person.families.first.responsible %></td>
							<% else %>
								<td><%= @person.full_name %></td>
							<% end %>
						</tr>
						<tr>
							<th>Edad</th>
							<td><%= ((Date.today.to_date - @person.dob.to_date)/365).to_i %> años</td>
						</tr>
						<tr>
							<th>Rol Familiar</th>
							<td><%= @person.family_roll %></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>


	<div class="col-md-8">
		<h4>Grupos</h4>
		<div class="under_pressure"></div>
		<div class="all_width blue_box">
			<% if @person.spots.count>0 %>
				<table class="table table-striped">
					<tr>
						<th class="text_center">Registro</th>
						<th>Grupo</th>
						<th>Asistencias</th>
						<th>Saldos</th>
						<th>Pagos</th>
						<th>Observaciones</th>
					</tr>
					<% @person.spots.each_with_index do |spot,index| %>
					<tr>
						<td class="text_center">
							<%= link_to edit_group_spot_path(spot.group, @person.spots.find_by_group_id(spot.group.id )), :title => 'Editar' do %>
								<span class="glyphicon glyphicon-pencil"></span>
							<% end %>
						</td>
						<td class="td_left"><%= link_to spot.group.name, spot.group %></td>
						<td><%= attendance_percent spot %></td>
						<td>$<%= spot.balance %></td>
						<td>
							<button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#totalpergroup_<%= index %>"> Pagos </button>
						</td>
						<td>
							<button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#attpergroup_<%= index %>"> Observaciones </button>
						</td>
					</tr>
				<% end %>
				<tr class="total_blue">
					<td></td>
					<td>Total</td>
					<td><%= attendance_percent @person %></td>
					<td><%= @person.balance %></td>
					<td></td>
					<td></td>
				</tr>
			</table>
		<% else %>
			<h4 class="counter_is_zero">Esta persona no está inscrita en ningún grupo</h4>
		<% end %>
		</div>
	</div>
</div>

<% if @person.spots.count > 0 %>
	<% @person.spots.each_with_index do |spot,index| %>
		<div class="modal fade" id="totalpergroup_<%= index %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="myModalLabel">Pagos en el grupo <%= spot.group.name %></h4>
					</div>
					<div class="modal-body">
						<div class="observation_container blue_box">
							<% if spot.payments.count>0 %>
								<table class="table table-striped">
									<tr>
										<th>Fecha</th>
										<th>Pagos</th>
										<th>Saldo</th>
										<th>Pago extr.</th>
									</tr>
									<% payments = 0 %>
									<% spot.payments.each do |p| %>
										<% payments += p.amount %>
										<tr>
											<td><%= p.date %></td>
											<td>$<%= p.amount %></td>
											<td>$<%= spot.group.cost - payments %></td>
											<td>
												<% if p.scholarship %>
													<span class="current_group scholarship_payment"></span>
												<% else %>
													<span class="current_group current_null"></span>
												<% end %>
											</td>
										</tr>
									<% end %>
									<tr class="total_blue">
										<td>Total</td>
										<td>$<%= total_payments spot %></td>
										<td>$<%= spot.balance %></td>
										<td>$<%= total_scholarship spot %></td>
									</tr>
								</table>
							<% else %>
								<h4 class="counter_is_zero">Esta persona no tiene pagos registrados</h4>
							<% end %>
						</div>
						<div class="spacer"></div>
					</div>
					<div class="modal-footer">
						<%= link_to edit_group_spot_path(spot.group, @person.spots.find_by_group_id(spot.group.id )), :title => 'Editar' do %>
							<button type="button" class="btn btn-default" data-dismiss="modal">Generar Pago</button>
						<% end %>
						<button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="attpergroup_<%= index %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="myModalLabel">Observaciones en clases del grupo <%= spot.group.name %></h4>
					</div>
					<div class="modal-body">
						<div class="observation_container blue_box">
							<% if spot.attendances.count>0 %>
								<table class="table table-striped">
									<tr>
										<th>Fecha</th>
										<th>Observación</th>
									</tr>
									<% spot.attendances.each_with_index do |attendance,index| %>
										<tr>
											<td>
												<a href="/groups/<%= spot.group.id %>?lecture=<%= attendance.lecture.id %>" title="Abrir Clase">
													<%= attendance.lecture.date.strftime('%d/%m/%Y') %>
												</a>
											</td>
											<% if attendance.observation != "" && attendance!=nil %>
												<td><%= attendance.observation %></td>
											<% else %>
												<td>No hay observaciones</td>
											<% end %>
										</tr>
									<% end %>
								</table>
							<% else %>
								<h4 class="counter_is_zero">Esta persona no tiene asistencias</h4>
							<% end %>
						</div>
						<div class="spacer"></div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
					</div>
				</div>
			</div>
		</div>
	<% end %>
<% end %>