<% provide(:title, "Nuevo grupo") %>

<div class="boton_der">
	<div class="top_buttons">
		<%= link_factory( :_path => new_program_path, :_text =>'Nuevo Programa', :_class => 'btn btn-default', :_button => true ) %>
	</div>
	<h1>Nuevo grupo<span class="line"></span></h1>
</div>

<div class="all_width blue_box">
	<div class="center_div" id="center_div_program">
		<p>Para crear el grupo selecciona el programa que deseas utilizar. </p>
		<p>Si no deseas utilizar un programa, haz click en el botón de crear manualmente.</p>
	</div>
	<% if @programs.count>0 %>
		<table class="table table-striped">
			<thead>
				<tr>
					<th class="text_center">Nombre</th>
					<th class="text_center">Rango de edad</th>
					<th class="text_center">Número de clases</th>
					<th class="text_center">Descripción</th>
					<th class="text_center">Crear grupo</th>
				</tr>
			</thead>
			<tbody>
				<% @programs.each do |program| %>
					<tr class="text_center">
						<td><%= link_factory( :_path => program_path(program), :_text=> program.name ) %></td>
						<td><%= "#{program.min_age} - #{program.max_age} semanas" %></td>
						<td><%= program.number_of_lessons %></td>
						<td><%= program.description %></td>
						<td><%= link_factory( :_path => new_program_course_path(program), :_text=> "Usar programa", :_button => true, :_class=> 'btn btn-default btn-xs' ) %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
		<div class="boton_der">
			<%= will_paginate @families, renderer: BootstrapPagination::Rails %>
		</div>
	<% else %>
		<h4 class="counter_is_zero">Aún no existen programas</h4>
	<% end %>
	<div class="center_div">
		<%= link_factory( :_path => new_group_path, :_text => 'Crear manualmente', :_class => 'btn btn-primary', :_button=>true ) %>
	</div>
</div>

<h6>Total de programas: <%= @programs.count %></h6>