<li class="reorder-item  ui-state-default" data-order="<%= @lesson.id %>" data-id="<%= @lesson.id %>">
	<a href="#" class="remove_day animate" title="Quitar día" data-remote="true">x</a>
	<a href="/program_relations/<%= @program.id %>?lesson_id=<%= @lesson.id %>" class="number_of_activities" data-remote="true" >
	<div class="order_day">Clase <%= "#{@lesson.order_day}" %></div>
	<div class="program_relations_points">
		<div id="container_points_<%= @lesson.id %>">
			<% @lesson.program_relations.count.times do |p| %>
			<span class="program_relation_point"></span>
			<% end %>
		</div>
	</div>
	</a>
</li>