<% provide(:title, "Familia: #{ @family.name }") %>
<div class="boton_der">
	<div class="top_buttons">
		<%= link_factory( :_path => families_path, :_text =>'Regresar a Familias', :_class => 'btn btn-info', :_button => true ) %>
		<%= link_factory( :_path => new_family_person_path(@family), :_text =>'Nuevo Miembro', :_class => 'btn btn-default', :_button => true ) %>
	</div>
	<h1>Familia: <%= @family.name %><span class="line"></span></h1>
</div>
<div class="all_width light_box">
	<h4>Miembros</h4>
	<div class="under_pressure"></div>
	<div class="blue_box all_width">
		<% if @family.family_members.count>0 %>
			<table class="table table-striped tablesorter">
				<thead>
					<tr>
						<th>Nombre</th>
						<th>Sexo</th>
						<th>Fecha de Nacimiento</th>
						<th>Relación</th>
						<th>Editar</th>
						<th>Borrar</th>
					</tr>
				</thead>
				<tbody>
					<% @family.family_members.order("name ASC").each do |member| %>
						<tr>
							<td>
								<% if current_group(member) %>
									<span class="current_group current_active"></span>
								<% else %>
									<span class="current_group current_null"></span>
								<% end %>
								<%= link_to member do %>
									<%= member.full_name %>
									<% if member.id == @family.responsible_id %>
										<span class="responsible_span">Responsable</span>
									<% end %>
								<% end %>
							</td>
							<td><%= member.sex %></td>
							<td><%= member.dob %></td>
							<td><%= member.family_roll %></td>
							<td>
								<%= link_factory( :_path => edit_family_person_path(@family, member), :_text =>'Editar', :_class => 'btn btn-default btn-xs', :_button => true ) %>
							</td>
							<td>
								<% if member.id == @family.responsible_id %>
									<button type="button" class="btn btn-danger btn-xs disabled">Borrar</button>
								<% else %>
									<%= link_factory( :_path => family_person_path(@family, member), :_text =>'Borrar', :_class => 'btn btn-danger btn-xs', :_button => true, :_destroy=> true, :_alert=>"Esta persona tiene grupos o pagos relacionados. No puede eliminarse." ) %>
								<% end %>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
		<% else %>
			<h4 class="counter_is_zero">Aún no existe ni un miembro en esta familia</h4>
		<% end %>
		<div class="boton_der">
			<span style="color: #A8A8A8; position: absolute; top: 30px; font-style: italic; font-size: 12px; left: 8px;"><span class="current_group current_null"></span>Sin cursos activos
			</span><span style="color: #A8A8A8; position: absolute; top: 10px; font-style: italic; font-size: 12px; left: 8px;"><span class="current_group current_active"></span>Cursando actualmente
			</span>
			<span style="color: #928C8C; position: absolute; top: 16px; font-style: italic; font-size: 12px; width: 100%;text-align: center;">
				Saldo familiar <%= negative_value (total_balance @family)  %>
			</span>
			<% if @family.family_members.count==1 %>
				<%= link_factory( :_path => family_path(@family), :_text =>'Borrar Familia', :_class => 'btn btn-danger', :_button => true, :_destroy=> true, :_alert=>"¿Estás Seguro? Borrarás a la familia y a su responsable." ) %>
			<% end %>
			<%= link_factory( :_path => edit_family_path, :_text =>'Editar Familia', :_class => 'btn btn-default', :_button => true ) %>
		</div>
	</div>
	<div class="spacer"></div>
	<h4>Contacto</h4>
	<div class="under_pressure"></div>
	<% if @family.address %>
		<div class="blue_box all_width">
			<div class="white_box">
				<p><%= @family.styled_address %></p>
				<p><%= @family.styled_contact_info %></p>
				<p>Referencia: <%= @family.address.referencia %></p>
			</div>
			<div class="boton_der">
				<%= link_factory( :_path => edit_family_address_path(@family, @family.address), :_text =>'Editar Contacto', :_class => 'btn btn-default', :_button => true ) %>
			</div>
		</div>
	<% else %>
		<%= link_factory( :_path => new_family_address_path(@family), :_text =>'Falta Información de Contacto', :_class => 'btn btn-warning', :_button => true ) %>
	<% end %>
</div>
<h6>Total de miembros: <%= @family.family_members.count %></h6>