<% provide(:title, "Familia: #{ @family.name }") %>

<div class="boton_der">
	<div class="top_buttons">
		<%= link_to families_path do %>
			<p><button type="button" class="btn btn-info">Regresar a Socios</button></p>
		<% end %>
		<%= link_to new_family_person_path(@family) do %>
			<p><button type="button" class="btn btn-default">Nuevo Miembro</button></p>
		<% end %>
	</div>
	<h1>Familia: <%= @family.name %><span class="line"></span></h1>
</div>
<div class="all_width light_box">
	<h4>Miembros</h4>
	<div class="under_pressure"></div>
	<div class="blue_box all_width">
		<table class="table table-striped tablesorter">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Apellido Paterno</th>
					<th>Apellido Materno</th>
					<th class="td_center">Sexo</th>
					<th class="td_center">Fecha de Nacimiento</th>
					<th>Relación</th>
					<th class="td_center">Editar</th>
					<th class="td_center">Borrar</th>
				</tr>
			</thead>
			<tbody>
				<% @family.family_members.order("name ASC").each do |member| %>
					<tr>
						<td><%= link_to member.name, member %></td>
						<td><%= member.first_last_name %></td>
						<td><%= member.second_last_name %></td>
						<td class="td_center"><%= member.sex %></td>
						<td class="td_center"><%= member.dob %></td>
						<td><%= member.family_roll %></td>
						<td class="td_center">
							<%= link_to edit_family_person_path(@family, member) do %>
								<button type="button" class="btn btn-default btn-xs">Editar</button>
							<% end %>
						</td>
						<td class="td_center">
							<%= link_to family_person_path(@family, member), method: :delete, data: { confirm: "¿Estás Seguro?" } do %>
								<button type="button" class="btn btn-danger btn-xs">Borrar</button>
							<% end %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
		<div class="boton_der">
			<% if @family.can_destroy? %>
				<%= link_to @family, method: :delete, data: { confirm: "¿Estás Seguro?" } do %>
					<p><button type="button" class="btn btn-danger">Borrar Familia</button></p>
				<% end %>
			<% end %>
			<%= link_to edit_family_path do %>
				<p><button type="button" class="btn btn-default">Editar Nombre de la Familia</button></p>
			<% end %>
		</div>
	</div>
	<div class="spacer"></div>
	<h4>Contacto</h4>
	<div class="under_pressure"></div>
	<% if @family.address %>
		<div class="blue_box all_width">
			<div class="white_box">
				<p><%= @family.styled_address %></p>
				<p><%= @family.styled_contact_info %></p>
				<p>Referencia: <%= @family.address.referencia %></p>
			</div>
			<div class="boton_der">
				<%= link_to edit_family_address_path(@family, @family.address) do %>
					<p><button type="button" class="btn btn-default">Editar Contacto</button></p>
				<% end %>
			</div>
		</div>
	<% else %>
		<%= link_to new_family_address_path(@family) do %>
			<p class="boton_izq"><button type="button" class="btn btn-warning">Falta Información de Contacto</button></p>
		<% end %>
	<% end %>
</div>
<h6>Total de miembros: <%= @family.family_members.count %></h6>