	<div id="date_title" class="date_class_selector">
		<h4>Clases</h4>
	</div>
	<div id="container_arrows">
		<div id="up_scroll" class="scroll_arrow">
			<span class="glyphicon glyphicon-chevron-up"></span>
		</div>
		<div id="down_scroll" class="scroll_arrow">
			<span class="glyphicon glyphicon-chevron-down"></span>
		</div>
	</div>
	<div class="container_large_scroll" id="date_selector">
		<nav id="lectures_dates" class="large_scroll">
			<div id="dates_container" class="children_scroll" data-topcenter="260">
				<% @group.lectures.order('date ASC').each do |lecture| %>
					<% if lecture.date.past? %>
						<%= link_to group_lecture_path(@group, lecture), :remote => true do %>
							<div class="date_over date_class_selector past" id="lecture_<%= lecture.id %>">
								<div class="bg_contour"></div>
								<div class="text_container">
									<div class="day"><%= I18n.l lecture.date, :format => "%A" %></div>
									<div class="hours">
										<span><%= I18n.l lecture.date, :format => "%d" %></span>
										<%= I18n.l lecture.date, :format => "%b" %>
									</div>
								</div>
							</div>
						<% end %>
					<% else %>
						<%= link_to group_lecture_path(@group, lecture), :remote => true do %>
							<div class="date_over date_class_selector future" id="lecture_<%= lecture.id %>">
								<div class="bg_contour"></div>
								<div class="text_container">
									<div class="day"><%= I18n.l lecture.date, :format => "%A" %></div>
									<div class="hours">
										<span><%= I18n.l lecture.date, :format => "%d" %></span>
										<%= I18n.l lecture.date, :format => "%b" %>
									</div>
								</div>
							</div>
						<% end %>
					<% end %>
				<% end %>
			</div>
		</nav>
	</div>
	<div id="refresh_lecture_info">
		<%= render 'lectures/show' %>
	</div>