<% if(@group.lectures.empty?) %>
	<h1>Este grupo no tiene clases aún<span class="line"></span></h1>
<% else %>
	<h1>Planeación de las Clases<span class="line"></span></h1>
	<nav id="lectures_dates">
		<table class="table table-striped">
			<tr>	
				<th>Fecha</th>
			</tr>	
			<% @group.lectures.order('date ASC').each do |lecture| %>
				<% if lecture.date.past? %>
					<tr id="lecture_<%= lecture.id %>" class="danger">
						<td><%= link_to "#{lecture.date.strftime('%m/%d/%Y')}", group_lecture_path(@group, lecture), :remote => true %></td>
					</tr>
				<% else %>
					<tr id="lecture_<%= lecture.id %>">
						<td><%= link_to "#{lecture.date.strftime('%m/%d/%Y')}", group_lecture_path(@group, lecture), :remote => true %></td>
					</tr>
				<% end %>
				<!-- <button type="button" class="btn btn-default btn-xs"><%= link_to "Editar Clase", edit_group_lecture_path(@group, lecture) %></button> -->
			<% end %>
		</table>
	</nav>
	<div id="refresh_lecture_info">
		<%= render 'lectures/show' %>
	</div>
<% end %>