<div class="modal fade bs-example-modal-sm" id="remove_lecture_modal" tabindex="-1" role="dialog" aria-labelledby="delete_confirm" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<% if !@lecture.have_dependencies? %>
					<h4 class="modal-title">¿Estás seguro de eliminar esta clase?</h4>
				<% else %>
					<% if current_user.admin? %>
						<h4 class="modal-title">Confirmación de eliminación</h4>
					<% else %>
						<h4 class="modal-title">Esta clase no se puede eliminar</h4>
					<% end %>
				<% end %>
			</div>
			<div class="modal-body">
				<% if !@lecture.have_dependencies? %>
					<p>Se eliminará de tu calendario de clases.</p>
					<a data-method="delete" href="/groups/<%= @lecture.group.id %>/lectures/<%= @lecture.id %>" rel="nofollow">
						<button type="button" class="btn btn-danger">Eliminar</button>
					</a>
				<% else %>
					<% if current_user.admin? %>
						<p>Escribe <b>ELIMINAR</b> para confirmar.</p>
						<h6>Nota: Se eliminarán <b><%= @lecture.exercises.count %> actividades</b> relacionadas.</h6>
						<input class="string optional form-control" id="delete_confirmation" type="text">
						<br>
						<div id="delete_lecture_button">
							<a data-method="delete" href="/groups/<%= @lecture.group.id %>/lectures/<%= @lecture.id %>" rel="nofollow">
								<button type="button" class="btn btn-danger">Eliminar</button>
							</a>
						</div>
					<% else %>
						<p>Para poder borrarla, antes debes eliminar todos las actividades y/o asistencias relacionadas.</p>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
</div>