<% provide(:title, "Nuestros Grupos") %>

<div class="boton_der">
	<div class="top_buttons">
		<%= link_to new_group_path do %>
			<p><button type="button" class="btn btn-default">Nuevo Grupo</button></p>
		<% end %>
	</div>
	<h1>Nuestros Grupos<span class="line"></span></h1>
</div>
<div class="all_width blue_box">
	<% if @groups.count>0 %>
		<table class="table table-striped tablesorter">
			<thead>
				<tr>
					<th class="td_center">Grupo</th>
					<th class="td_center">Facilitadora</th>
					<th class="td_center">Costo</th>
					<th class="td_center">Edad recomendada</th>
					<th class="td_center">Inicio de curso</th>
					<th class="td_center">Fin de curso</th>
					<th class="td_center">Ubicación</th>
					<th class="td_center">Inscripciones / Pagos</th>
				</tr>
			</thead>
			<tbody>
				<% @groups.each_with_index do |group,index| %>
					<tr class="td_center">
						<td><%= link_to group.name, group %></td>
						<td><%= group.user.name %></td>
						<td>$<%= group.cost %></td>
						<td><%= "De #{group.min_age} a #{group.max_age} Semanas" %></td>
						<td><%= group.init_date.strftime('%d/%m/%Y') %></td>
						<td><%= group.finish_date.strftime('%d/%m/%Y') %></td>
						<td><%= group.location %></td>
						<td>
							<button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#group_pop_<%= group.id %>">Inscripciones / Pagos</button>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
		<!-- Modal Init -->
			<% @groups.each do |group| %>
				<%= render 'groups/modal', :object => group %>
			<% end %>
		<!-- Modal End -->
	<% else %>
		<div class="spacer"></div>
		<h4 class="counter_is_zero">Aún no existe ni un grupo</h4>
	<% end %>
	<div class="boton_der">
		<%= will_paginate @groups, renderer: BootstrapPagination::Rails %>
		<% if !params[:filter] %>
			<a href="/groups?filter=past">
				<p><button type="button" class="btn btn-warning" id="admin_families">Grupos Pasados</button></p>
			</a>
		<% else %>
			<a href="/groups">
				<p><button type="button" class="btn btn-default" id="admin_families">Grupos en Curso</button></p>
			</a>
		<% end %>
	</div>
</div>
<h6>Total de Grupos: <%= @groups.count %></h6>