<% provide(:title, "Nuestros Grupos") %>

<div class="boton_der">
	<div class="top_buttons">
		<%= link_factory( :_path => programs_path, :_text => "Nuevo Grupo", :_class=>'btn btn-default', :_button => true ) %>
	</div>
	<h1>Nuestros Grupos<span class="line"></span></h1>
</div>

<div class="all_width blue_box">
	<% if @groups.count>0 %>
		<table class="table table-striped tablesorter">
			<thead>
				<tr>
					<th class="text_center">Grupo</th>
					<th class="text_center">Instructora</th>
					<th class="text_center">Costo</th>
					<th class="text_center">Edad recomendada</th>
					<th class="text_center">Inicio de curso</th>
					<th class="text_center">Fin de curso</th>
					<th class="text_center">Ubicación</th>
					<th class="text_center">Inscripciones / Pagos</th>
				</tr>
			</thead>
			<tbody>
				<% @groups.each_with_index do |group,index| %>
					<tr>
						<td>
							<%= link_factory( :_path => group_path(group), :_text => group.name ) %>
						</td>
						<td class="text_center"><%= group.user.name %></td>
						<td class="text_center">$<%= group.cost %></td>
						<td class="text_center"><%= "De #{group.min_age} a #{group.max_age} Semanas" %></td>
						<td class="text_center"><%= group.init_date.strftime('%d/%m/%Y') %></td>
						<td class="text_center"><%= group.finish_date.strftime('%d/%m/%Y') %></td>
						<td><%= group.location %></td>
						<td class="text_center">
							<button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#group_pop_<%= group.id %>">Inscripciones / Pagos</button>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
		<!-- Modal Init -->
			<% @groups.each do |group| %>
				<%= render 'groups/modal', :object => group %>
			<% end %>
		<!-- Modal End -->
	<% else %>
		<div class="spacer"></div>
		<h4 class="counter_is_zero">Aún no existe ni un grupo</h4>
	<% end %>
	<div class="boton_der">
		<%= will_paginate @groups, renderer: BootstrapPagination::Rails %>
		<% if !params[:filter] %>
			<a href="/groups?filter=past">
				<p><button type="button" class="btn btn-warning" id="admin_families">Grupos Pasados</button></p>
			</a>
		<% else %>
			<a href="/groups">
				<p><button type="button" class="btn btn-default" id="admin_families">Grupos en Curso</button></p>
			</a>
		<% end %>
	</div>
</div>
<h6>Total de Grupos: <%= @groups.count %></h6>