<% provide(:title, "Grupo #{ @group.name }: #{@group.min_age} a #{@group.max_age} meses") %>

<div class="boton_der">
	<div class="top_buttons">
		<%= link_to groups_path do %>
			<p><button type="button" class="btn btn-info">Regresar a los Grupos</button></p>
		<% end %>
		<%= link_to edit_group_path(@group) do %>
			<p><button type="button" class="btn btn-default">Editar Grupo</button></p>
		<% end %>
	</div>
	<h1><%= "Grupo #{ @group.name }: #{@group.min_age} a #{@group.max_age} meses" %><span class="line"></span></h1>
</div>
<div class="panel panel-primary top_panel">
	<div class="group_info">
		<li><strong>Edad:</strong> <%= @group.min_age %> - <%= @group.max_age %></li>
		<li><strong>Periodo:</strong> <%= @group.init_date.strftime('%d/%m/%Y') %> - <%= @group.finish_date.strftime('%d/%m/%Y') %></li>
		<li><strong>Costo:</strong>$<%= @group.cost %></li>
		<li><strong>Ubicación:</strong><%= @group.location %></li>
		<li><strong>Facilitadora:</strong><%= @group.facilitador %></li>
  </div>
</div>
<div class="container_big_buttons">
	<div class="big_button" data-toggle="modal" data-target="#group_pop_<%= @group.id %>">
		<span class="glyphicon glyphicon-list-alt"></span>Inscripciones / Pagos
	</div>
	<%= link_to new_group_lecture_path(@group) do %>
		<div class="big_button" id="new_class_icon">
			<span class="tip glyphicon glyphicon-plus-sign"></span>Nueva Clase
		</div>
	<% end %>
</div>
<!-- Modal Init -->
	<%= render 'groups/modal', :object => @group %>
<!-- Modal End -->

<% if(@group.lectures.empty?) %>
	<% if @group.lectures.count < 3 %>
		<%= link_to new_group_calendar_path(@group) do %>
			<div class="big_button" id="new_class_icon" style="width: 100%; ">
				<span class="tip glyphicon glyphicon-cog"></span>Generar Clases
			</div>
		<% end %>
	<% end %>
<% else %>
	<% if @group.lectures.count < 3 %>
		<%= link_to new_group_calendar_path(@group) do %>
			<div class="big_button" id="new_class_icon" style="width: 100%; ">
				<span class="tip glyphicon glyphicon-cog"></span>Generar Clases
			</div>
		<% end %>
		<div class="spacer"></div>
	<% end %>
	<div class="col-md-12 light_box" id="container_lectures">
		<%= render 'groups/lectures' %>
	</div>
<% end %>

<h6>Total de Clases: <%= @group.lectures.count %></h6>
<script>
	$(document).ready(function() {
		$('.tip').tooltip();
	 	<% if(@lecture) %>
			var lecture = "lecture_<%= @lecture.id %>";
			$("#"+lecture).addClass('date_active');
		<% end %>
	});

	// 	<% if(@lecture) %>
	// 		var lecture = "lecture_<%= @lecture.id %>";
	// 		var totalTop = $("#lectures_dates").offset().top;
	// 		var lectureTop = $("#"+lecture).offset().top;

	// 		$("#"+lecture).addClass('success');
	// 		$("#lectures_dates").animate({scrollTop:((lectureTop-totalTop)-75)},0);
	// 	<% end %>
	// });
</script>