<div class="col-md-6 col-sm-offset-3">
	<div id="container_form">
		<%= simple_form_for @user, :html => {:multipart => true, :class => 'form-horizontal'} do |f| %>
		<%= render 'shared/error_messages', object: f.object %>
			<p><%= f.input :name, label:"Nombre" %></p>
			<div id="container_select_file">
				<p><label class="select optional control-label" for="user_photo">Foto</label></p>
				<p><%= image_tag @user.photo_url(:thumb), :id => "photo_thumb" %></p>
				<div id="button_select_file" class="relative btn btn-primary">
					<div class="absolute" id="select_file_title">Seleccionar archivo</div>
					<p><%= f.input :photo, label: false %></p>
				</div>
			</div>
			<p><%= f.input :email, label:"Email" %></p>
			<% if current_user %>
				<% if !current_user?(@user) && current_user.administrator? %>
					<p><%= f.input :administrator, label:"Administrador" %></p>
				<% end %>
			<% end %>
			<% if params[:action] == 'new' || params[:action] == 'create' %>
				<p><%= f.input :password, label:"Contrase침a" %></p>
				<p><%= f.input :password_confirmation, label:"Confirmaci칩n de Contrase침a" %></p>
			<% end %>
			<p><%= f.submit "Guardar", :class => 'btn btn-info' %></p>
		<% end %>
		<% if params[:action] == 'edit' %>
			<div class="btn btn-info">
				<%= link_to edit_password_reset_path(@user) do %>
					Cambiar contrase침a
				<% end %>
			</div>
		<% end %>
		</div>
	</div>
</div>