<div id="exercises_container">
	<div class="boton_der" id="header_buttons_class">
		<h4><span style="color: rgb(173, 173, 173);">Día <%= @lecture %> </span>- <%= @exercises.count %> Ejercicios </h4>
	</div>
</div>
<div class="boton_der">
	<div class="top_buttons top_buttons_group">
		<%= link_to new_program_program_relation_path(@program, :lecture_id => @lecture) do %>
			<span data-toggle="tooltip" data-placement="left" title="Seleccionar Ejercicios" class="tip glyphicon glyphicon-plus-sign" style="margin: 10px; font-size: 24px; margin-left: 0px; right: 0; position: absolute; top: -40px; color: #107BD8;"></span>
		<% end %>
	</div>
</div>
<div class="spacer"></div>
<div class="all_width blue_box" id="exercises_container_table">
	<div class="all_width white_box" style="height: 222px;">
		<div id="fixed_top_exercises">
			<div class="text_center exercise_top_title">Nombre</div>
			<div class="text_center exercise_top_title">Rango</div>
			<div class="text_center exercise_top_title">Área</div>
			<div class="text_center exercise_top_title">Detalles</div>
		</div>
		<div id="tiny_exercises" class="tiny_scroll">
			<div class="scrollbar">
				<div class="track">
					<div class="thumb"></div>
				</div>
			</div>
			<div class="viewport">
				<div class="overview">
					<table class="table table-striped">
						<% @exercises.each_with_index do |rel, index| %>
						<tr>
							<td class="exercise_content">
								<%= link_factory( :_path=>exercise_path(rel.exercise), :_text=>rel.exercise.name) %>
							</td>
							<td class="text_center exercise_content"><%= "#{rel.exercise.min_age} - #{rel.exercise.max_age}" %></td>
							<td class="text_center exercise_content">
								<% if rel.exercise.areas.count==1 %>
								<%= rel.exercise.areas.first.name %>
								<% else %>
								<% rel.exercise.areas.each do |a| %>
								<span data-toggle="tooltip" data-placement="left" title="<%= a.name %>" class="tip" data-original-title="<%= a.name %>"><%= a.name.slice(0..1) %></span>
								<% end %>
								<% end %>
							</td>
							<td class="exercise_content text_center">
								<button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#ex_<%= rel.exercise.id %>">Leer más</button>
							</td>
							<div class="modal fade" id="ex_<%= rel.exercise.id %>" tabindex="-1" role="dialog" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
											<h4 class="modal-title"><%= rel.exercise.name %></h4>
										</div>
										<div class="modal-body">
											<p><strong>Descripción:</strong> <%= rel.exercise.description %></p>
											<p><strong>Objetivo:</strong> <%= rel.exercise.objective %></p>
											<p><strong>Música: </strong><%= rel.exercise.music %></p>
											<p><strong>Material: </strong><%= rel.exercise.material %></p>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
										</div>
									</div>
								</div>
							</div
>						</tr>
						<% end %>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	$(document).ready(function() {
		$('.tip').tooltip();
		$('.tiny_scroll').each(function() {
	        var tinyScroll = $(this);
	        tinyScroll.tinyscrollbar();
	        var newScroll = tinyScroll.data("plugin_tinyscrollbar");
	        newScroll.update();
	    });
	});
</script>