<div id="exercises_container">
	<div class="boton_der" id="header_buttons_class">
		<h4><span style="color: rgb(173, 173, 173);">Día <%= @lesson.order_day %> </span>- <%= @lesson.exercises.count %> Actividades </h4>
	</div>
</div>
<div class="boton_der">
	<div class="top_buttons top_buttons_group">
		<%= link_to new_lesson_program_relation_path(@lesson) do %>
		<span data-toggle="tooltip" data-placement="left" title="Seleccionar Actividades" class="tip glyphicon glyphicon-plus-sign" style="margin: 10px; font-size: 24px; margin-left: 0px; right: 0; position: absolute; top: -40px; color: #107BD8;"></span>
		<% end %>
		<div id="add_objective">
			<button class="btn btn-warning btn-xs" data-toggle="modal" data-target="#lesson_objective_modal">Objetivo</button>
		</div>
	</div>
</div>
<div id="lesson_objective">
	<%= render 'program_relations/objective' %>
</div>
<div class="spacer"></div>
<div class="all_width blue_box" id="exercises_container_table">
	<div class="all_width white_box" style="height: 222px;">
		<div id="fixed_top_exercises">
			<div class="text_center program_top_title">Nombre</div>
			<div class="text_center program_top_title">Rango</div>
			<div class="text_center program_top_title">Area</div>
			<div class="text_center program_top_title">Detalles</div>
		</div>
		<div id="tiny_program_exercises" class="tiny_scroll">
			<div class="scrollbar">
				<div class="track">
					<div class="thumb"></div>
				</div>
			</div>
			<div class="viewport">
				<div class="overview">
					<table class="table table-striped">
						<% @lesson.exercises.each_with_index do |exercise, index| %>
						<tr id="exercise_day_<%= exercise.id %>">
							<td class="program_relation_content">
								<%= link_factory( :_path=>exercise_path(exercise), :_text=>exercise.name) %>
							</td>
							<td class="text_center program_relation_content"><%= "#{exercise.min_age} - #{exercise.max_age}" %></td>
							<td class="text_center program_relation_content">
								<% if exercise.areas.count==1 %>
								<%= exercise.areas.first.name %>
								<% else %>
								<% exercise.areas.each do |a| %>
								<span data-toggle="tooltip" data-placement="left" title="<%= a.name %>" class="tip" data-original-title="<%= a.name %>"><%= a.name.slice(0..1) %></span>
								<% end %>
								<% end %>
							</td>
							<td class="program_relation_content text_center">
								<button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#ex_<%= exercise.id %>">Leer más</button>
							</td>
							<div class="modal fade" id="ex_<%= exercise.id %>" tabindex="-1" role="dialog" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
											<h4 class="modal-title"><%= exercise.name %></h4>
										</div>
										<div class="modal-body">
											<p><strong>Descripción:</strong> <%= exercise.description %></p>
											<p><strong>Objetivo:</strong> <%= exercise.objective %></p>
											<p><strong>Música: </strong><%= exercise.music %></p>
											<p><strong>Material: </strong><%= exercise.material %></p>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
										</div>
									</div>
								</div>
							</div>
						</tr>
						<% end %>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	$(document).ready(function() {
		$('.tip').tooltip();
		$('.tiny_scroll').each(function() {
		var tinyScroll = $(this);
			tinyScroll.tinyscrollbar();
			var newScroll = tinyScroll.data("plugin_tinyscrollbar");
			newScroll.update();
		});
	});
</script>