<% provide(:title, "Ejercicios del día #{@lecture} ") %>

<div class="boton_der">
	<%= form_tag("/people/search", :method => "post", :remote => true, :id => "search_people") do %>
		<!--<%= submit_tag "Buscar", :class => "btn btn-sm btn-primary" %>-->
	<% end %>
	<%= link_factory(:_path => program_path(@program), :_text=> "Regresar a programa", :_button => true, :_class=> "btn btn-info") %>
	<p><button class="btn btn-primary" data-toggle="modal" data-target="#searcher_exercises">Buscar</button></p>
	<h1>Ejercicios del día <%= "#{@lecture}" %> <span class="line"></span></h1>
</div>

<%= render 'program_relations/searcher' %>

<div class="white_box all_width" id="program_search_container">
	<div class="all_width blue_box">
		<button type="button" class="close close_results" data-dismiss="modal" aria-hidden="true" id="close_results_program">×</button>
		<h4>Resultados</h4>
		<div id="program_refresh_results"></div>
	</div>
</div>
<div class="spacer"></div>
<div class="white_box all_width">
	<div class="all_width blue_box">
		<% if @exercises.count>0 %>
		<%= render '/exercises/list' %>
			<%= will_paginate @exercises, renderer: BootstrapPagination::Rails %>
		<% else %>
			<h4 class="counter_is_zero">No se encontraron ejercicios</h4>
		<% end %>
	</div>
</div>
<h6>Total de ejercicios para este programa: <%= @exercises.count %></h6>
<div class="spacer"></div>