<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<%= simple_form_for [@group, @spot, @payment] do |f| %>
		<%= render 'shared/error_messages', object: f.object %>
			<div id="selector_fecha">
				<%= f.input :date, label: "Fecha", :order => [:day, :month, :year], :include_blank => true, :start_year => Date.today.year, :end_year =>Date.today.year-1, :input_html => { :class => 'date_selector' }  %>
			</div>
			<p><%= f.input :amount, label: "Cantidad" %></p>
			<p><%= f.input :scholarship, label: "Beca" %></p>
			<p><%= f.input :clarification, label: "Aclaración" %></p>
			<p><%= f.submit "Guardar", class: "btn btn-sm btn-primary" %></p>
		<% end %>
	</div>
</div>