<% provide(:title, "Todos los Pagos") %>

<div class="boton_der">
	<h1>Todos los Pagos<span class="line"></span></h1>
</div>

<%= render '/payments/searchform' %>
<% total = 0 %>
<div class="spacer"></div>
<div class="all_width blue_box">
	<% if @payments.count>0 %>
		<table class="table table-striped tablesorter">
			<thead>
				<tr>
					<th>Fecha</th>
					<th>Niño</th>
					<th>Tutor</th>
					<th>Familia</th>
					<th>Grupo</th>
					<th>Cantidad</th>
				</tr>
			</thead>
			<tbody>
				<% @payments.each do |p| %>
					<tr>
						<td><%= p.date %></td>
						<td><%= link_to p.spot.child.name, p.spot.child %></td>
						<td><%= link_to p.spot.tutor.name, p.spot.tutor %></td>
						<td><%= link_to p.spot.child.families.first.name, p.spot.child.families.first %></td>
						<td><%= link_to p.spot.group.name, p.spot.group %></td>
						<td>$<%= p.amount %></td>
					</tr>
				<% end %>
			</tbody>
			<tr class="total_blue">
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td><b>Total:</b></td>
				<td>$<%= total_payments @payments %></td>
			</tr>
		</table>
	<% else %>
		<div class="white_box">
			<h4 class="counter_is_zero">No existe ningún pago dentro de la búsqueda</h4>
		</div>
	<% end %>
</div>
<% if @payments %>
	<h6>Total de Pagos: <%= @payments.count %></h6>
<% end %>