<div class="col-md-6 col-sm-offset-3">
	<div id="container_form">
		<%= simple_form_for @post, :html => {:multipart => true, :class => 'form-horizontal'} do |f| %>
		<%= render 'shared/error_messages', object: f.object %>
			<p><%= f.input :title, label:"Título" %></p>
			<p><%= f.input :text, label:"Body" %></p>
			<p><%= f.submit "Guardar", :class => 'btn btn-info' %></p>
		<% end %>
	</div>
</div>