<%= simple_form_for @post, :html => {:multipart => true, :class => 'form-horizontal'} do |f| %>
<%= render 'shared/error_messages', object: f.object %>
	<p><%= f.input :title, label:"Título" %></p>
	<% if current_user %>
		<p><%= f.input :user_id, label:"Autor", input_html: { value: 1 }, :disabled => true %></p>
	<% else %>
		<p><%= f.input :user_id, :collection=> User.all, :label_method => :name, :value_method => :id, :include_blank => false, input_html: { value: 1 } %></p>
	<% end %>
	<p><%= f.input :body, label:"Body" %></p>
	<p><%= f.submit "Guardar" %></p>
<% end %>