<%= render 'posts/header_stories' %>
<div id="content" class="content section row">
    <div class="col-md-8 bg-base col-lg-8 col-xl-9">
        <div class="ribbon ribbon-highlight">
            <ol class="breadcrumb ribbon-inner">
                <li><%= link_to "D0A3", root_path %></li>
                <li><a href="#">blog</a></li>
                <li class="active post-title" title="<%= @post.title %>">
                    Editando Post
                </li>
            </ol>
        </div>
        <header class="page-header live_editable" onmouseenter="$(event.target).find('.live_controls').show();" onmouseleave="$(event.target).find('.live_controls').hide();">
            <div class="page-meta pull-right hidden-xs">
                <a href="#comments">
                    <span class="comments-count-balloon bg-primary">
                    <%= @post.comments.count %><em>comentarios</em>
                    </span>
                </a>
            </div>
            <h2 class="page-title post-title" id="post-title"><%= @post.title %></h2>
            <div id="" class="live_controls">
                <div class="editable_section">
                    Título
                </div>
                <a class="container_editable_action save_editable_action" href="javascript:void(null)" data-toggle="modal" data-target="#post-title-modal">
                    <span class="glyphicon glyphicon-pencil"></span>
                    <div class="live_controls_icon">
                        <div class="editable-action-title">Cambiar título</div>
                    </div>
                </a>
            </div>
        </header>
        <div class="entry-meta">
            Escrito por <%= link_to @post.author, user_posts_path(@post.user) %>. El
            <%= link_to posts_path(date: @post.created_at.to_date) do %>
            <time datetime="<%= @post.created_at %>"><%= I18n.l @post.created_at.to_datetime, :format => '%d de %B del %Y' %></time>
            <% end %>
        </div>
        <article class="entry style-single type-post">
            <figure class="entry-thumbnail live_editable" onmouseenter="$(event.target).find('.live_controls').show();" onmouseleave="$(event.target).find('.live_controls').hide();">
                <%= image_tag @post.cover, id: "post-cover" %>
                <div id="" class="live_controls">
                    <div class="editable_section">
                        Cover
                    </div>
                    <a class="container_editable_action redo_editable_action" href="#" data-remote="true">
                        <span class="glyphicon glyphicon-remove"></span>
                        <div class="live_controls_icon">
                            <div class="editable-action-title">Deshacer</div>
                        </div>
                    </a>
                    <a class="container_editable_action save_editable_action" href="#" data-remote="true">
                        <span class="glyphicon glyphicon-ok"></span>
                        <div class="live_controls_icon">
                            <div class="editable-action-title">Guardar Cambios</div>
                        </div>
                    </a>
                    <a class="container_editable_action edit_editable_action" href="javascript:void(null)" data-toggle="modal" data-target="#post-cover-modal">
                        <span class="glyphicon glyphicon-pencil"></span>
                        <div class="live_controls_icon">
                            <div class="editable-action-title">Editar</div>
                        </div>
                    </a>
                </div>
            </figure>
            <!-- galerry -->
            <div class="gallery bg-page flushed-left live_editable" onmouseenter="$(event.target).find('.live_controls').show();" onmouseleave="$(event.target).find('.live_controls').hide();">
                <!-- <h4 class="gallery-title">Gallery</h4> -->
                <div class="row">
                    <% @post.resources.each do |resource| %>
                    <div class="col-xs-3 col-sm-2">
                        <a href="<%= resource.file_url %>" title="<%= resource.title %>" class="thumbnail" data-rel="prettyPhoto[gallery]">
                            <img src="<%= resource.file_url %>" width="80" height="80" alt="">
                        </a>
                    </div>
                    <% end %>
                </div>
                <div id="" class="live_controls">
                    <div class="editable_section">
                        Multimedia
                    </div>
                    <a class="container_editable_action more_editable_action" href="javascript:void(null)" data-toggle="modal" data-target="#post-multimedia-modal">
                        <span class="glyphicon glyphicon-pencil"></span>
                        <div class="live_controls_icon">
                            <div class="editable-action-title">Agregar multimedia</div>
                        </div>
                    </a>
                    <a class="container_editable_action edit_editable_action" href="javascript:void(null)" data-toggle="modal" data-target="#post-resources-modal">
                        <span class="glyphicon glyphicon-cog"></span>
                        <div class="live_controls_icon">
                            <div class="editable-action-camera">Administrar</div>
                        </div>
                    </a>
                </div>
            </div>
            <!-- texto -->
            <div class="entry-content indented">
                <div class="live_editable inline-block" onmouseenter="$(event.target).find('.live_controls').show();" onmouseleave="$(event.target).find('.live_controls').hide();">
                    <div id="post-text">
                        <%= @post.text.html_safe %>
                    </div>
                    <div id="" class="live_controls">
                        <div class="editable_section">
                            Contenido
                        </div>
                        <a class="container_editable_action redo_editable_action" href="#" data-remote="true">
                            <span class="glyphicon glyphicon-remove"></span>
                            <div class="live_controls_icon">
                                <div class="editable-action-title">Deshacer</div>
                            </div>
                        </a>
                        <a class="container_editable_action save_editable_action" href="#" data-remote="true">
                            <span class="glyphicon glyphicon-ok"></span>
                            <div class="live_controls_icon">
                                <div class="editable-action-title">Guardar Cambios</div>
                            </div>
                        </a>
                        <a class="container_editable_action edit_editable_action" href="javascript:void(null)" data-toggle="modal" data-target="#post-text-modal">
                            <span class="glyphicon glyphicon-pencil"></span>
                            <div class="live_controls_icon">
                                <div class="editable-action-title">Editar</div>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- creditos modal -->
                <div class="live_editable inline-block" onmouseenter="$(event.target).find('.live_controls').show();" onmouseleave="$(event.target).find('.live_controls').hide();">
                    <h3>Créditos</h3>
                    <div id="post-credits">
                        <%= @post.credits.html_safe %>
                    </div>
                    <div id="" class="live_controls">
                        <div class="editable_section">
                            Créditos
                        </div>
                        <a class="container_editable_action redo_editable_action" href="#" data-remote="true">
                            <span class="glyphicon glyphicon-remove"></span>
                            <div class="live_controls_icon">
                                <div class="editable-action-title">Deshacer</div>
                            </div>
                        </a>
                        <a class="container_editable_action save_editable_action" href="#" data-remote="true">
                            <span class="glyphicon glyphicon-ok"></span>
                            <div class="live_controls_icon">
                                <div class="editable-action-title">Guardar Cambios</div>
                            </div>
                        </a>
                        <a class="container_editable_action edit_editable_action" href="javascript:void(null)" data-toggle="modal" data-target="#post-credits-modal">
                            <span class="glyphicon glyphicon-pencil"></span>
                            <div class="live_controls_icon">
                                <div class="editable-action-title">Editar</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </article>
        <div class="after-entry indented">
            <hr>
            <aside class="widget post-tags live_editable inline-block" onmouseenter="$(event.target).find('.live_controls').show();" onmouseleave="$(event.target).find('.live_controls').hide();">
                <i class="icon-tags"></i> Tags:
                <div id="post-tags">
                    <% @post.tags.each do |t| %>
                    <a href="#">
                        <%= t.name %>
                    </a>
                    <% end %>
                </div>
                <div id="" class="live_controls">
                    <div class="editable_section">
                        Tags
                    </div>
                    <a class="container_editable_action select_tags_editable_action" href="javascript:void(null)" data-toggle="modal" data-target="#post-tags-modal">
                        <span class="glyphicon glyphicon-tags"></span>
                        <div class="live_controls_icon">
                            <div class="editable-action-title">Seleccionar tags</div>
                        </div>
                    </a>
                </div>
            </aside>
            <hr>
        </aside>
    </div>
</div>
<div class="sidebar col-md-4 col-lg-4 col-xl-3">
    <div id="container_special_coverage">
        <aside class="widget">
            <h3 class="widget-title ribbon"><span>+ Acciones</span></h3>
            <div id="categories">
                <ul>
                    <li></li>
                </ul>
            </div>
        </aside>
    </div>
</div>
<!-- modals -->
<!-- post title modal -->
<div class="modal fade post-modal" id="post-title-modal" tabindex="-1" role="dialog" aria-labelledby="post-title-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="post-title-label">Nuevo Post | Título</h4>
            </div>
            <%= simple_form_for @post, :controller => "posts", :action => "update", remote: true do |f| %>
            <div class="modal-body">
                <div id="errors-post-title">
                    <%= render 'shared/error_messages', object: f.object %>
                </div>
                <%= f.input :attr_modified, :as => :hidden, :input_html => { value: "title" } %>
                <% if @post.title == "Lorem ipsum dolor sit amet, consectetur adipisicing elit." %>
                <%= f.input :title, label: false, :input_html => { value: "" }, placeholder: "Escribe el título del Post" %>
                <% else %>
                <%= f.input :title, label: false, placeholder: "Escribe el título del Post" %>
                <% end %>
            </div>
            <div class="modal-footer">
                <%= f.submit "Guardar", :class => "btn btn-success" %>
                <input type="button" class="btn btn-danger" data-dismiss="modal" value="Cancelar">
            </div>
            <% end %>
        </div>
    </div>
</div>
<!-- post text modal -->
<div class="modal fade post-modal" id="post-text-modal" tabindex="-1" role="dialog" aria-labelledby="post-text-label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-text" id="post-text-label">Nuevo Post | Contenido </h4>
            </div>
            <%= simple_form_for @post, :html => { :multipart => true }, :controller => "posts", :action => "update", remote: true do |f| %>
            <div class="modal-body">
                <div id="errors-post-text">
                    <%= render 'shared/error_messages', object: f.object %>
                </div>
                <%= f.input :attr_modified, :as => :hidden, :input_html => { value: "text" } %>
                <%= f.input :text, label: false, :input_html => { :class => "wysihtml5" } %>
            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-info" data-dismiss="modal" value="Previsualizar">
                <%= f.submit "Guardar", :class => "btn btn-success" %>
                <input type="button" class="btn btn-danger" data-dismiss="modal" value="Cancelar">
            </div>
            <% end %>
        </div>
    </div>
</div>
<!-- foto -->
<div class="modal fade post-modal" id="post-cover-modal" tabindex="-1" role="dialog" aria-labelledby="post-photo-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-photo" id="post-photo-label">Nuevo Post | Cover </h4>
            </div>
            <%= simple_form_for @post, :html => {:multipart => true}, :controller => "posts", :action => "update", remote: true do |f| %>
            <div class="modal-body">
                <div id="errors-post-cover">
                    <%= render 'shared/error_messages', object: f.object %>
                </div>
                <%= f.input :attr_modified, :as => :hidden, :input_html => { value: "cover" } %>
                <%= f.input :cover, label: "Selecciona el cover del post" %>
            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-info" data-dismiss="modal" value="Previsualizar">
                <%= f.submit "Guardar", :class => "btn btn-success" %>
                <input type="button" class="btn btn-danger" data-dismiss="modal" value="Cancelar">
            </div>
            <% end %>
        </div>
    </div>
</div>
<!-- end cover modal -->
<!-- multimedia -->
<div class="modal fade post-modal" id="post-multimedia-modal" tabindex="-1" role="dialog" aria-labelledby="post-photo-label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-photo" id="post-photo-label">Nuevo Post | Agregar Multimedia </h4>
            </div>
            <%= simple_form_for @resource, :html => {:multipart => true}, :controller => "posts", :action => "update", remote: true do |f| %>
            <div class="modal-body">
                <div id="errors-post-cover">
                    <%= render 'shared/error_messages', object: f.object %>
                </div>
                <%= f.input :title, label:"Nombre", placeholder: "Nombre del archivo" %>
                <%= f.input :resource_type, label: "Tipo", :include_blank => "Selecciona el tipo de archivo", collection: [['Foto', 'Foto'],[ 'Audio', 'Audio'], [ 'Video', 'Video']] %>
                <div id="container_media_url" class="hidden">
                    <%= f.input :file_url, as: :string, label: false, placeholder: "Escribe la url del archivo" %>
                </div>
                <div id="container_select_file" class="hidden">
                    <label class="select optional control-label" for="resource_file">Archivo</label>
                    <%= image_tag @resource.photo_path, :id => "photo_thumb" %>
                    <div id="button_select_file" class="relative btn btn-primary">
                        <div class="absolute" id="select_file_title">Seleccionar archivo</div>
                        <%= f.input :photo_path, label: false %>
                    </div>
                </div>
                <%= f.input :description, label: false, input_html: { class: "wysihtml5" }, placeholder: "Descripción" %>
            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-info" data-dismiss="modal" value="Previsualizar">
                <%= f.submit "Guardar", :class => "btn btn-success" %>
                <input type="button" class="btn btn-danger" data-dismiss="modal" value="Cancelar">
            </div>
            <% end %>
        </div>
    </div>
</div>
<!-- resources -->
<div class="modal fade post-modal" id="post-resources-modal" tabindex="-1" role="dialog" aria-labelledby="post-photo-label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-photo" id="post-photo-label">Nuevo Post | Administración de multimedia </h4>
            </div>
            <%= simple_form_for @post, :html => {:multipart => true}, :controller => "posts", :action => "update", remote: true do |f| %>
            <div class="modal-body">
                <div id="errors-post-cover">
                    <%= render 'shared/error_messages', object: f.object %>
                </div>
                <%= f.input :attr_modified, :as => :hidden, :input_html => { value: "cover" } %>
                <%= f.input :cover, label: "Selecciona el cover del post" %>
            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-info" data-dismiss="modal" value="Previsualizar">
                <%= f.submit "Guardar", :class => "btn btn-success" %>
                <input type="button" class="btn btn-danger" data-dismiss="modal" value="Cancelar">
            </div>
            <% end %>
        </div>
    </div>
</div>
<!-- tags modal -->
<div class="modal fade post-modal" id="post-tags-modal" tabindex="-1" role="dialog" aria-labelledby="post-tags-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-tags" id="post-tags-label">Nuevo Post | Etiquetas </h4>
            </div>
            <div class="modal-body post-tags">
                <p>Selecciona los tags para el post</p>
                <% Tag.all.order("name ASC").each do |t| %>
                <% if @post.tags.include?(t) %>
                <%= link_to t.name, { controller: "posts", action: "tag", post_id: @post.id, tag_id: t.id }, remote: true, id: "tag_#{t.id}", :class => "active" %>
                <% else %>
                <%= link_to t.name, { controller: "posts", action: "tag", post_id: @post.id, tag_id: t.id }, remote: true, id: "tag_#{t.id}" %>
                <% end %>
                <% end %>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!-- tags modal -->
<!-- creditos modal -->
<div class="modal fade post-modal" id="post-credits-modal" tabindex="-1" role="dialog" aria-labelledby="post-credits-label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-credits" id="post-credits-label">Nuevo Post | Créditos / Referencias </h4>
            </div>
            <%= simple_form_for @post, :html => {:multipart => true}, :controller => "posts", :action => "update", remote: true do |f| %>
            <div class="modal-body">
                <div id="errors-post-credits">
                    <%= render 'shared/error_messages', object: f.object %>
                </div>
                <%= f.input :attr_modified, :as => :hidden, :input_html => { value: "credits" } %>
                <%= f.input :credits, label: false, input_html: { class: "wysihtml5" } %>
            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-info" data-dismiss="modal" value="Previsualizar">
                <%= f.submit "Guardar", :class => "btn btn-success" %>
                <input type="button" class="btn btn-danger" data-dismiss="modal" value="Cancelar">
            </div>
            <% end %>
        </div>
    </div>
</div>