<% if !@headers.empty? %>
	<div class="section row entries bg-primary section-no-margin-bottom">
		<article class="entry style-grid style-hero hero-sm-largest type-post col-sm-12 col-md-6 colheight-sm-1 colheight-md-2 colheight-lg-2 colheight-xl-2">
			<div class="ribbon ribbon-pulled ribbon-small ribbon-highlight">
				<a href="/"><%= @headers.first.post_type.name %></a>
			</div>
			<header class="entry-header">
				<h3 class="entry-title"><a href="single.html"><%= @headers.first.text.slice(0..60) %></a> </h3>
				<div class="entry-meta">
					<span class="entry-date"><time datetime="<% @headers.first.created_at %>">Hace <%= (Date.today.to_date - @headers.first.created_at.to_date).to_i %> días</time></span>
					<span class="entry-author"> por <a href="#"><%= @headers.first.author %></a></span>
				</div>
			</header>
			<figure class="entry-thumbnail">
				<a href="single.html" class="overlay overlay-primary"></a>
				<!-- to disable lazy loading, remove data-src and data-src-retina -->
				<img src="<%= @headers.first.cover %>" data-src="<%= @headers.first.cover %>" data-src-retina="<%= @headers.first.cover %>" width="680" height="452" alt="">
				<!--fallback for no javascript browsers-->
				<noscript>
				<img src="<%= @headers.first.cover %>" alt="">
				</noscript>
			</figure>
		</article>
		
		<% @headers.each do |header| %>
			<article class="entry style-grid style-hero type-post col-md-6 col-lg-3 colheight-sm-1">
				<div class="ribbon ribbon-pulled ribbon-small ribbon-highlight">
					<a href="blog.html"><%= header.post_type.name %></a>
				</div>
				<header class="entry-header">
					<h3 class="entry-title"><a href="<%= post_path(header) %>"><%= header.text.slice(0..160) %></a> </h3>
					<div class="entry-meta">
						<span class="entry-date"><time datetime="2013-07-04T23:26:34+00:00">Hace <%= (Date.today.to_date - header.created_at.to_date).to_i %> días</time></span>
						<span class="entry-author"> por <a href="#"><%= header.author %></a></span>
					</div>
				</header>
				<figure class="entry-thumbnail">
					<a href="<%= post_path(header) %>" class="overlay overlay-primary"></a>
					<!-- to disable lazy loading, remove data-src and data-src-retina -->
					<img src="<%= header.cover %>" data-src="<%= header.cover %>" data-src-retina="<%= header.cover %>" width="480" height="280" alt="">
					<!--fallback for no javascript browsers-->
					<noscript>
					<img src="<%= header.cover %>" alt="">
					</noscript>
				</figure>
			</article>
		<% end %>
	</div>
<% end %>
<div id="content" class="content section row">
	<div class="col-md-8 bg-base col-lg-8 col-xl-9">
		<div class="ribbon ribbon-highlight">
			<ol class="breadcrumb ribbon-inner">
				<li><a href="/">D0A3</a></li>
				<li><a href="/posts">BLOG</a></li>
			</ol>
		</div>
		<div class="entries">
			<% @posts.each do |post| %>
			<article class="entry style-media media type-post">
				<figure class="media-object pull-left entry-thumbnail hidden-xs">
					<!-- to disable lazy loading, remove data-src and data-src-retina -->
					<img src="<%= post.cover %>" data-src="<%= post.cover %>" data-src-retina="<%= post.cover %>" width="230" height="230" class="" alt="">
					<!--fallback for no javascript browsers-->
					<noscript>
					<img src="<%= post.cover %>" alt="">
					</noscript>
				</figure>
				<div class="media-body">
					<header class="entry-header">
						<h3 class="entry-title">
						<a href="<%= post_path(post) %>" rel="bookmark"><%= post.title %></a>
						</h3>
						<div class="entry-meta">
							<span class="entry-date">el <a href="<%= post_path(post) %>"><time datetime="<%= post.created_at %>"><%= post.created_at.strftime("%d de %B del %Y") %></time></a></span>
							<span class="category"><a href="#">Categoría</a></span>
						</div>
					</header>
					<p>
					<%= post.text %>
					<a href="<%= post_path(post) %>" class="more-link">Continuar leyendo<i class="icon icon-long-arrow-right"></i></a>
					</p>
				</div>
			</article>
			<% end %>
		</div>
		<!--/.entries-->
		<div id="pagination">
			<%= paginate @posts %>
		</div>
	</div><!--/.col-md-8.col-lg-8.col-xl-9-->
	<div class="sidebar col-md-4 col-lg-4 col-xl-3">
		<div id="container_featured">
			<%= render 'sides/featured' %>
		</div>
		<div id="reviews_container">
			<%= render 'sides/reviews' %>
		</div>
		<div id="container_whats_hot">
			<%= render 'sides/whats_hot' %>
		</div>
		<div id="container_latest_discussion">
			<%= render 'sides/latest_discussion' %>
		</div>
		<div id="container_categories">
			<%= render 'sides/categories' %>
		</div>
		<div id="container_tags_discussion">
			<%= render 'sides/tags' %>
		</div>
	</div>
</div>
<!--/#content-->