<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<%= simple_form_for @exercise, :html => {:multipart => true, :class => 'form-horizontal'} do |f| %>
			<%= render 'shared/error_messages', object: f.object %>
			<% if @group && @lecture %>
				<%= f.number_field :group_id, value: @group.id, :readonly => true, :class => 'disabled form-control', :type=>"hidden" %>
				<%= f.number_field :lecture_id, value: @lecture.id, :readonly => true, :class => 'disabled form-control', :type=>"hidden" %>
			<% end %>

			<p><%= f.input :name, label:"Nombre"  %></p>
			<input id="other_name" type="text" placeholder="Escribe el area" style="margin-top: -34px; width: 95%; z-index: 9; position: relative;border-bottom-right-radius: 0px;border-top-right-radius: 0px; display:none;" name="person[other]" class="form-control">
				<%= f.input :min_age, label:"Edad Mínima" %>
				<%= f.input :max_age, label:"Edad Máxima" %>
				<%= f.input :objective, label:"Objetivo" %>
				<%= f.input :description, label:"Descripción" %>
				<%= f.input :material, label:"Material" %>
				<%= f.input :music, label:"Música" %>
			<br>
			<%= f.label :areas %>:
			<% exercise_areas = [] %>
			<% @exercise.areas.each { |a| exercise_areas.push(a.id) } %>
			<% Area.all.each do |area| %>
				<div class="input boolean optional user_<%= area.id %>">
					<% if exercise_areas.include?(area.id) %>
						<input name="area[<%= area.id %>]" type="hidden">
						<input class="boolean optional" id="area_<%= area.id %>" name="area[<%= area.id %>]" type="checkbox" checked>
					<% else %>
						<input name="area[<%= area.id %>]" type="hidden">
						<input class="boolean optional" id="area_<%= area.id %>" name="area[<%= area.id %>]" type="checkbox">
					<% end %>
					<label class="boolean optional" for="area_<%= area.id %>"><%= area.name %></label>
				</div>
			<% end %>
			<p><%= f.submit "Guardar", class: "btn btn-sm btn-primary" %></p>
		<% end %>
	</div>
</div>