<div id="searcher" class="all_width light_box">
	<%= form_tag :controller => 'exercises', :action => 'search', :method => 'get' do %>
		<div class="light_box all_width">
			<div class="search_half">
				<div class="title_search">
					<%= label_tag(:name, "Nombre:") %>
				</div>
				<%= number_field :name, nil, :include_blank => true, :class => "form-control date_payment_field" %>
			</div>
			<div class="search_half">
				<div class="title_search">
					<%= label_tag(:init, "Desde:") %>
				</div>
				<%= number_field :init, nil, :include_blank => true, :class => "form-control date_payment_field" %>
			</div>
			  <div class="search_half">
			  	<div class="title_search">
			  		<%= label_tag(:end, "Hasta:") %>
			  	</div>
			  	<%= number_field :end, nil, :include_blank => true, :class => "form-control date_payment_field" %>
			  </div>
			<div class="search_half">
			 	<div class="title_search">
			  		<%= label_tag(:area, "Area:") %>
			  	</div>
			  	<%= select_tag 'area_id', options_for_select(Area.all.collect{ |u| [u.name, u.id] } ), :include_blank => true, :class => "form-control" %>
			</div>
			<div class="boton_der" id="search_payments">
				<p><%= submit_tag "Buscar", :class => "btn btn-sm btn-primary" %></p>
			</div>
		</div>
	<% end %>
</div>
<div class="spacer"></div>