<div class="boton_der">
	<div class="top_buttons">
		<% if @group && @lecture %>
			<!-- <a href=<%= "/groups/#{@group.id}?lecture=#{@lecture.id}" %>></a> -->
			<%= link_to :back  do %>
				<p><button type="button" class="btn btn-info">Regresar a Grupo</button></p>
			<% end %>
			<%= link_factory( :_path => new_group_lecture_exercise_path(@group, @lecture), :_text =>'Nueva Actividad', :_class => 'btn btn-default', :_button => true ) %>
		<% else %>
			<%= link_factory( :_path => new_exercise_path, :_text =>'Nueva Actividad', :_class => 'btn btn-default', :_button => true ) %>
		<% end %>
		<p><button class="btn btn-primary" data-toggle="modal" data-target="#searcher_exercises">Buscar</button></p>
	</div>
	<% if @group && @lecture %>
		<h1>Actividades de <%= "#{@group.min_age} a #{@group.max_age}" %> semanas.<span class="line"></span></h1>
	<% else %>
		<h1>Actividades<span class="line"></span></h1>
	<% end %>
</div>

<%= render 'exercises/top_buttons' %>
<div id="exercises_search_container">
	<!-- render -->
</div>
<div class="all_width blue_box">
	<% if @exercises.count>0 %>
		<% if @group && @lecture %>
			<% provide(:title, "Actividades de #{@group.min_age} a #{@group.max_age} semanas.") %>
		<% else %>
			<% provide(:title, 'Actividades') %>
		<% end %>
		<%= render '/exercises/list' %>
		<%= will_paginate @exercises, renderer: BootstrapPagination::Rails %>
	<% else %>
	<h4 class="counter_is_zero">No se encontraron actividades</h4>
	<% end %>
</div>
<h6>Total de Actividades: <%= @exercises.count %></h6>