<% provide(:title, 'Ejercicios') %>

<div class="boton_der">
	<div class="top_buttons">
		<% if @group && @lecture %>
			<a href=<%= "/groups/#{@group.id}?lecture=#{@lecture.id}" %>>
				<p><button type="button" class="btn btn-info">Regresar a Grupo</button></p>
			</a>
			<%= link_to new_group_lecture_exercise_path(@group, @lecture) do %>
				<p><button type="button" class="btn btn-default">Nuevo Ejercicio</button></p>
			<% end %>
		<% else %>
			<%= link_to new_exercise_path do %>
				<p><button type="button" class="btn btn-default">Nuevo Ejercicio</button></p>
			<% end %>
		<% end %>
	</div>
	<h1>Ejercicios<span class="line"></span></h1>
</div>

<div class="all_width blue_box">
	<% if @exercises.count>0 %>
		<% if @group && @lecture %>
			<table class="table table-striped tablesorter">
				<thead>
					<tr>
						<th>Nombre</th>
						<th>Area</th>
						<th>Descripción</th>
						<th>Objetivo</th>
						<th>Seleccionar</th>
					</tr>
				</thead>
				<tbody>
					<% @exercises.each_with_index do |exercise, index| %>
						<tr>
							<td><%= link_to exercise.name, group_lecture_exercise_path(@group, @lecture, exercise) %></td>
							<td>
								<% exercise.areas.each do |a| %>
									<% if exercise.areas.count==1 %>
										<%= exercise.areas.first.name %>
									<% else %>
										<% exercise.areas.each do |a| %>
											<% areasplit = a.name.split(' ') %>
											<%= areasplit %>
											<span data-toggle="tooltip" data-placement="left" title="<%= a.name %>" class="tip" data-original-title="<%= a.name %>"><%= a.name.slice(0..1) %></span>
										<% end %>
									<% end %>
								<% end %>
							</td>
							<td>
								<button type="button" class="btn btn-primary pops btn-xs" data-container="body" data-toggle="popover" data-placement="left" data-content="<%= exercise.description %>">Descripción</button></td>
							<td>
								<button type="button" class="btn btn-primary pops btn-xs" data-container="body" data-toggle="popover" data-placement="left" data-content="<%= exercise.objective %>">Objetivo</button>
							</td>
							<td>
								<a href=<%= "/exercises/status/#{exercise.id}?lecture_id=#{@lecture.id}" %> data-remote="true" id="exercise_<%= exercise.id %>">
									<% if exercise.lectures.include?(@lecture) %>
										<button type="button" class="btn status_button btn-danger btn-xs">DESAGREGAR</button>
									<% else %>
										<button type="button" class="btn status_button btn-success btn-xs">AGREGAR</button>
									<% end %>
								</a>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
			<%= will_paginate @exercises, renderer: BootstrapPagination::Rails %>
		<% else %>
			<table class="table table-striped tablesorter">
				<thead>
					<tr>
						<th style="width: 300px;">Nombre</th>
						<th class="header text_center" style="width: 160px;">Rango (Semanas)</th>
						<th style="width: 180px;">Area</th>
						<th style="width: 300px;">Objetivo</th>
						<th style="width: 110px;">Leer más</th>
					</tr>
				</thead>
				<tbody>
					<% @exercises.each_with_index do |exercise, index| %>
						<tr>
							<td><%= link_to exercise.name, exercise_path(exercise) %></td>
							<td class="text_center"><%= "#{exercise.min_age} - #{exercise.max_age}" %></td>
							<td>
								<% if exercise.areas.count==1 %>
									<%= exercise.areas.first.name %>
								<% else %>
									<% exercise.areas.each do |a| %>
										<% areasplit = a.name.split(' ') %>
										<span data-toggle="tooltip" data-placement="left" title="<%= a.name %>" class="tip" data-original-title="<%= a.name %>">
											<% areasplit.each do |word| %><%= word.slice(0..0) %><% end %>
										</span>
									<% end %>
								<% end %>
							</td>
							<td><%= exercise.objective %></td>
							<td><button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#ex_<%= index %>">Leer más</button></td>
						</tr>
						<div class="modal fade" id="ex_<%= index %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
										<h4 class="modal-title" id="myModalLabel"><%= link_to exercise.name, exercise_path(exercise) %></h4>
									</div>
									<div class="modal-body">
										<p><strong>Rango:</strong> <%= "#{exercise.min_age} - #{exercise.max_age} Semanas" %></p>
										<p><strong>Descripción:</strong> <%= exercise.description %></p>
										<p><strong>Objetivo:</strong> <%= exercise.objective %></p>
										<p><strong>Material:</strong> <%= exercise.material %></p>
										<p><strong>Música:</strong> <%= exercise.music %></p>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
									</div>
								</div>
							</div>
						</div>
					<% end %>
				</tbody>
			</table>
			<%= will_paginate @exercises, renderer: BootstrapPagination::Rails %>	
		<% end %>
	<% else %>
		<h4 class="counter_is_zero">Aún no existe ni un ejercicio</h4>
	<% end %>
</div>
<h6>Total de Ejercicios: <%= @exercises.count %></h6>
<script>
	$(document).ready(function() {
		$('.pops').popover();
		//$('.tip').tooltip();
	});
</script>