<% provide(:title, 'Todos los Ejercicios') %>

<div class="boton_der">
	<p><button type="button" class="btn btn-default"><%= link_to "Nuevo Ejercicio", new_group_lecture_exercise_path(@group, @lecture) %></button></p>
</div>

<h2>Total de Ejercicios: <%= @exercises.count %></h2>

<table class="table table-striped">
<tr>
	<th>Area</th>
	<th>Rango de edad</th>
	<th>Objetivo</th>
	<th>Descripción</th>
	<th>Seleccionar</th>
</tr>
<% @exercises.each_with_index do |exercise, index| %>
	<tr>
		<td><%= exercise.area %></td>
		<td><%= "#{exercise.min_age} - #{exercise.max_age}" %></td>
		<td><%= exercise.objective %></td>
		<td><%= exercise.description %></td>
		<td>
			<a href=<%= "/exercises/status/#{exercise.id}?lecture_id=#{@lecture.id}" %> data-remote="true" id="exercise_<%= exercise.id %>">
				<% if exercise.lectures.include?(@lecture) %>
					<button type="button" class="btn status_button btn-danger btn-xs">DESACTIVAR</button>
				<% else %>
					<button type="button" class="btn status_button btn-success btn-xs">ACTIVAR</button>
				<% end %>
			</a>
		</td>
	</tr>
<% end %>
</table>