<div class="boton_der">
	<div class="top_buttons">
		<% if @group && @lecture %>
			<a href=<%= "/groups/#{@group.id}?lecture=#{@lecture.id}" %>>
				<p><button type="button" class="btn btn-info">Regresar a Grupo</button></p>
			</a>
			<%= link_factory( :_path =>new_group_lecture_exercise_path(@group, @lecture), :_text =>'Nuevo Ejercicio', :_class => 'btn btn-default', :_button => true ) %>
		<% else %>
			<%= link_factory( :_path =>new_exercise_path, :_text =>'Nuevo Ejercicio', :_class => 'btn btn-default', :_button => true ) %>
		<% end %>
		<p><button class="btn btn-primary" data-toggle="modal" data-target="#searcher_exercises">Buscar</button></p>
	</div>
	<h1>Resultados<span class="line"></span></h1>
</div>

<%= render 'exercises/top_buttons' %>

<div class="all_width blue_box" id="container_results_exercises">
	<% if @exercises.count>0 %>
		<%= render 'exercises/list_lectures' %>
	<% else %>
		<h4 class="counter_is_zero">No se encontraron ejercicios</h4>
	<% end %>
</div>