<% provide(:title, @exercise.full_name) %>

<div class="boton_der">
	<div class="top_buttons">
		<% if @group && @lecture %>
			<%= link_factory( :_path =>group_lecture_exercises_path(@group, @lecture), :_text =>'Regresar a Ejercicios', :_class => 'btn btn-info', :_button => true ) %>
		<% else %>
			<%= link_factory( :_path =>exercises_path, :_text =>'Regresar a Ejercicios', :_class => 'btn btn-info', :_button => true ) %>
		<% end %>
	</div>
	<h1><%= @exercise.full_name %><span class="line"></span></h1>
</div>
<div class="col-md-12 blue_box">
	<table class="table table-striped">
		<tr>
			<tr>
				<th>Rango de edad:</th>
				<td><%= "#{[@exercise.min_age,@exercise.max_age].join('-')} semanas" %></td>
			</tr>
			<tr>
				<th>Objetivo</th>
				<td><%= @exercise.objective %></td>
			</tr>
			<tr>
				<th>Descripción</th>
				<td><%= @exercise.description %></td>
			</tr>
			<tr>
				<th>Material</th>
				<td><%= @exercise.material %></td>
			</tr>
			<tr>
				<th>Música</th>
				<td><%= @exercise.music %></td>
			</tr>
		</tr>
	</table>
	<div class="boton_der">
		<% if @group && @exercise %>
			<%= link_factory( :_path => group_lecture_exercise_path(@group,@lecture,@exercise), :_text =>'Borrar Ejercicio', :_class => 'btn btn-danger', :_button => true, :_destroy=>true, :_alert => 'Este ejercicio esta asignado a una o varias clases. No puede llevarse a cabo esta acción.' ) %>
			<%= link_factory( :_path => edit_group_lecture_exercise_path(@group,@lecture,@exercise), :_text =>'Editar Ejercicio', :_class => 'btn btn-default', :_button => true ) %>
		<% else %>
			<%= link_factory( :_path => exercise_path(@exercise), :_text =>'Borrar Ejercicio', :_class => 'btn btn-danger', :_button => true, :_destroy=>true, :_alert => 'Este ejercicio esta asignado a una o varias clases. No puede llevarse a cabo esta acción.' ) %>
			<%= link_factory( :_path => edit_exercise_path(@exercise), :_text =>'Editar Ejercicio', :_class => 'btn btn-default', :_button => true ) %>
		<% end %>
	</div>
</div>