<div class="child_spot child_appended" id="child_spot_<%= @attendance.id %>">
	<% if @attendance.person.photo_url.include?('/default/') %>
		<img src="<%= @attendance.person.photo_url %>" alt="<%= @attendance.person.name %>" class="kid_up_photo">
	<% else %>
		<img src="<%= @attendance.person.photo_url(:thumb) %>" alt="<%= @attendance.person.name %>" class="kid_up_photo">
	<% end %>
	<div class="kid_stats">
		<p><%= @attendance.person.name %></p>
	</div>
	<% if @attendance.can_destroy? %>
		<div class="child_remove">
			<a href="/attendances/destroy?id=<%= @attendance.id %>&lecture_id=<%= @lecture.id %>" data-remote="true">
				<span class="remove"></span>
			</a>
		</div>
	<% end %>
</div>
<script>
	$(document).ready(function() {
		$(".child_appended").animate({top:0,opacity:1},600,'easeOutQuart');
	});
</script>