<div class="child_attendance" id="child_spot_<%= @attendance.id %>">
	<img src="<%= @attendance.person.photo %>" alt="<%= @attendance.person.name %>" class="kid_attendance_photo">
	<div class="kid_stats">
		<p><%= @attendance.person.name %></p>
		<p><%= ("#{ @attendance.person.first_last_name } #{ @attendance.person.second_last_name }").slice(0..13) %>.</p>
	</div>
	<% if @attendance.can_destroy? %>
		<div class="child_remove">
			<button type="button" class="btn btn-danger btn-xs">
				<a href="/attendances/destroy?id=<%= @attendance.id %>&lecture_id=<%= @lecture.id %>" data-remote="true">Quitar</a>
			</button>
		</div>
	<% end %>
</div>