<% provide(:title, "Asistencias") %>

<div class="boton_der">
	<div class="top_buttons">
		<a href=<%= "/groups/#{@group.id}?lecture=#{@lecture.id}" %>>
			<p><button type="button" class="btn btn-info">Regresar a la Clase</button></p>
		</a>
		<%= link_factory( new_group_spot_path(@group), 'Inscripciones', 'btn btn-warning', true, false ) %>
	</div>
	<h1>Asistencias<span class="line"></span></h1>
</div>

	<div class="all_width light_box">
		<div id="total_attendances">
			<h4><span><%= @lecture.attendances.count %></span> Asistentes</h4>
		</div>
		<div class="under_pressure"></div>
	 	<div class="all_width blue_box">
			<div class="white_box" id="attendances">
				<% if @lecture.attendances.count>0 %>
					<% @lecture.attendances.each_with_index do |c,index| %>
						<div class="child_spot child_appended" id="child_spot_<%= c.spot.child.id %>">
							<% if c.spot.child.photo_url.to_s.include?('/default/') %>
								<img src="<%= c.spot.child.photo_url %>" alt="<%= c.spot.child.name %>" class="kid_up_photo">
							<% else %>
								<img src="<%= c.spot.child.photo_url(:thumb) %>" alt="<%= c.spot.child.name %>" class="kid_up_photo">
							<% end %>
							<div class="kid_stats">
								<p><%= c.spot.child.name %></p>
							</div>
								<% if c.can_destroy? %>
								<div class="child_remove">
									<a href="/attendances/destroy?id=<%= c.id %>&lecture_id=<%= @lecture.id %>" data-remote="true" id="remove_attendance_<%= index %>">
										<span class="remove"></span>
									</a>
								</div>
							<% end %>
						</div>
					<% end %>
					<h4 style="display: none;" class="counter_is_zero" id="alert_attendances">Esta clase no tiene ninguna asistencia</h4>
				<% else %>
					<h4 class="counter_is_zero" id="alert_attendances">Esta clase no tiene ninguna asistencia</h4>
				<% end %>
			</div>
		</div>
		<div class="spacer"></div>
		<h4><%= @group.spots.count %> Inscritos</h4>
		<div class="under_pressure"></div>
		<div id="posible_attendances" class="all_width blue_box">
			<% if @group.spots.count>0 %>
				<div class="white_box">
					<% @group.spots.each_with_index do |c,index| %>
						<% if c.child.family_relations.first.family.status? %>
							<a href="/attendances/create?spot_id=<%= c.id %>&lecture_id=<%= @lecture.id %>&group_id=<%= @group.id %>" data-remote="true"  class="child_selector child_<%= c.child.id %>" id="child_selector_<%= index %>" data-childid="<%= c.id %>">
								<div class="child_spot child_appended">
									<% if c.child.photo_url.to_s.include?('/default/') %>
										<img src="<%= c.child.photo_url(:thumb) %>" alt="<%= c.child.name %>" class="kid_photo attendance_img">
									<% else %>
										<img src="<%= c.child.photo_url %>" alt="<%= c.child.name %>" class="kid_photo attendance_img">
									<% end %>
									<div class="weeks_stat">
											<p><span><%= c.child.dob_to_weeks %></span><br>
											<% if c.child.dob_to_weeks == 1%>Semana</p><% else %>Semanas<% end %></p>
									</div>
									<div class="kid_stats">
										<p><%= c.child.name %></p>
										<p><%= ("#{ c.child.first_last_name } #{ c.child.second_last_name }").slice(0..30) %></p>
									</div>
									<div class="child_selected">
										<span class="glyphicon glyphicon-ok"></span>
									</div>
								</div>
							</a>
						<% end %>
					<% end %>
				</div>
			<% else %>
				<h4 class="counter_is_zero">Debes realizar inscripciones al grupo para poder tomar tomar lista</h4>
			<% end %>
		</div>
	</div>
<script>
	$(document).ready(function() {
		<%= render "/attendances/edit.js.erb" %>
		$(".child_appended").each(function(index, el) {
			$(this).delay(index*80).animate({top:0,opacity:1},600,'easeOutQuart');
		});
	});
</script>