<header class="navbar navbar-default navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to image_tag("#{logo_app}", alt: "#{yield(:title)}", :height => 50) , root_path, id: "logo" %>
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <% if signed_in? %>
            <li id="fat-menu" class="dropdown">
              <a href="#" id="drop3" role="button" class="dropdown-toggle families_icon" data-toggle="dropdown">Familias<b class="caret"></b></a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
                <li role="presentation">
                  <a role="menuitem" tabindex="-1" href="<%= families_path %>">Familias</a>
                </li>
                <li role="presentation">
                  <a role="menuitem" tabindex="-1" href="<%= people_path %>">Miembros</a>
                </li>
              </ul>
            </li>

            <li id="fat-menu" class="dropdown">
              <a href="#" id="drop3" role="button" class="dropdown-toggle groups_icon" data-toggle="dropdown">Grupos<b class="caret"></b></a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
                <li role="presentation">
                  <a role="menuitem" tabindex="-1" href="<%= groups_path %>">Grupos</a>
                </li>
                <li role="presentation">
                  <a role="menuitem" tabindex="-1" href="<%= exercises_path %>">Actividades</a>
                </li>
                <% if(current_user.admin?) %>
                  <li role="presentation" class="divider"></li>
                  <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="<%= programs_path %>">Programas</a>
                  </li>
                <% end %>
                <li role="presentation" class="divider"></li>
                <li role="presentation">
                  <a role="menuitem" tabindex="-1" href="<%= payments_path %>">Pagos</a>
                </li>
              </ul>
            </li>

            <li id="fat-menu" class="dropdown">
              <a href="#" id="drop3" role="button" class="dropdown-toggle account_icon" data-toggle="dropdown">Cuenta<b class="caret"></b></a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
                <li role="presentation">
                  <a role="menuitem" tabindex="-1" href="<%= user_path(current_user) %>">Perfil</a>
                </li>
                <li role="presentation">
                  <a role="menuitem" tabindex="-1" href="<%= edit_user_path(current_user) %>">Editar Perfil</a>
                </li>
                <% if current_user.admin? %>
                  <li role="presentation" class="divider"></li>
                  <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="<%= users_path %>">Usuarios</a>
                  </li>
                  <li role="presentation" class="divider"></li>
                  <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="<%= panel_path(Panel.first) %>">Panel de control</a>
                  </li>
                <% end %>
                <li role="presentation" class="divider"></li>
                <li role="presentation">
                  <a role="menuitem" tabindex="-1" data-method="delete" href="<%= signout_path %>">Log Out</a>
                </li>
              </ul>
            </li>

          <% end %>
        </ul>
      </nav>
    </div>
    <div class="purple-line"></div>
  </div>
</header>