<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
	<body>

	<!-- header -->
	<%= render 'layouts/header' %>
	<!-- header -->
	<div id="blog_wrapper">
		<div id="flash_messages">
			<% flash.each do |key, value| %>
				<%= content_tag(:div, value, class: "alert alert-#{key}") %>
			<% end %>
		</div>

		<%= yield %>

	</div>

	<!-- footer -->
	<%= render 'layouts/footer' %>
	<!-- footer -->

	</body>
</html>